@model News

@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Message = "Xóa tin";
}

<div class="col-md-12 text-center">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <h3>Xác nhận xóa tin "@Model.Title" ? </h3>
        @Html.HiddenFor(m => m.Id)
        <input type="hidden" name="returnURL" value="@(Request.UrlReferrer == null ? Url.Action("Index") : Request.UrlReferrer.ToString())" />
        <div>
            <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
            <a href="@Url.Action("Index")" class="btn btn-default btn-sm">Trở về</a>
        </div>
    }
</div>

@Html.Partial("_ReValidatePartial")

