@model IEnumerable<Slide>

@{
    ViewBag.Title = "Danh sách slide";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/popupImage.css" type="text/css" />
}
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Thêm Slide", "Create",null,new { @class="btn btn-success btn-sm" })
                    </p>
                    <div class="table-responsive">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <table class="table table-middle">
                            <tr>
                                <th class="text-center"> 
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Order)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <img class="popupImage" src="~/images/@item.Image" width="200" alt="@item.Title" height="auto" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                        <form class="hidden" action="@Url.Action("Delete")" id="frmDeleteSlide@(item.Id)" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="Id" value="@item.Id" />
                                        </form>
                                        <a class="btn btn-default btn-sm" onclick="return confirm('Xác nhận xóa hình slide này?');" href="javascript:document.getElementById('frmDeleteSlide@(item.Id)').submit();">Xoá</a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- The Modal -->
<div id="modalShowImage" class="modal-Image">
    <!-- The Close Button -->
    <span class="close">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            // Event khi người dùng click vào hình ảnh có class popupImage
            $(".popupImage").click(function () {
                var modal = document.getElementById("modalShowImage");  // Tạo biến modal lấy ra element có Id  modalShowImage
                var captionText = document.getElementById("caption");  // Tạo biến captionText lấy ra từ element có Id caption
                var modalImg = document.getElementById("img01");   // Tạo biến modalImg lấy ra từ element có Id img01
                modal.style.display = "block";    // Hiển thị  popup
                modalImg.src = $(this).attr("src");  // Gán thuộc tính src của hình ảnh trong popup
                captionText.innerHTML = $(this).attr("alt");   // Gán giá trị cho caption theo thuộc tính alt của hình
            });
            // Event khi người dùng click nút Close popup
            $(".modal-Image .close").click(function () {
                var modal = document.getElementById("modalShowImage");
                modal.style.display = 'none';  // Ẩn popup
            });
        });
    </script>
}