@model CategoryTranslationViewModel
@{
    Language languageSelected = ViewBag.LanguageSelected;
    ViewBag.Title = "Thêm Phân Loại (bản dịch "+languageSelected.Name+")";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Thêm Phân Loại (bản dịch @languageSelected.Name)
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div class="box">
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="hidden" name="CategoryId" value="@Url.RequestContext.RouteData.Values["Id"]" />
                        <input type="hidden" name="LanguageId" value="@languageSelected.Id" />
                        <div class="col-md-12">
                            <table class="table table-border-none table-middle">
                                <tr>
                                    <td class="col-sm-3 text-right">
                                        Ngôn ngữ
                                    </td>
                                    <td class="col-sm-6">
                                        <input type="text" class="form-control" readonly value="@languageSelected.Name" />
                                    </td>
                                    <td class="col-sm-3"></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Name)</td>
                                    <td class="col-sm-6">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </td>
                                    <td class="col-sm-3"></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3 text-right"></td>
                                    <td class="col-sm-6">
                                        <button type="submit" class="btn bg-green btn-sm"><i class="fa fa-save"></i> Lưu</button>
                                        @Html.ActionLink("Về danh sách", "Index", null, new { @class = "btn btn-default btn-sm" })
                                    </td>
                                    <td class="col-sm-3"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

