@model Category

@{
    ViewBag.Title = "Xóa phân loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Message = "Xóa phân loại";
}

<div class="col-md-12 text-center">
    <h3>Bạn có chắc muốn xóa phân loại "@Model.Name" ?</h3>
    <div>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> |
                <a href="@Url.Action("Index")" class="btn btn-default btn-sm">Trở về</a>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }
    </div>
</div>

@Html.Partial("_ReValidatePartial")