@model List<Category>

@{
    ViewBag.Title = "Phân Loại Cấp " + Request.QueryString["level"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
 <style>
     .treegrid-indent {
         width: 0px;
         height: 16px;
         display: inline-block;
         position: relative;
     }

     .treegrid-expander {
         width: 0px;
         height: 16px;
         display: inline-block;
         position: relative;
         left: -17px;
         cursor: pointer;
     }
    </style>   
 }


@section scripts{
    <script src="~/Scripts/treetable.js"></script>
    <!-- DataTables -->
    <script>
        $(function () {
            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <p>
                    <a data-toggle="modal" href="@Url.Action("_CreateModal")" class="btn bg-green btn-xs" data-target="#modal-createModal">Thêm mới</a>
                </p>
            </div>
            <div class="box">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tree-table" class="table table-hover table-bordered">
                                    @*<thead>
                                        <tr>
                                            <th class="hidden">Parent Id</th>
                                            <th>Tên phân loại</th>
                                            <th>Bí danh</th>
                                            <th class="text-center">Thao tác</th>
                                        </tr>
                                    </thead>*@
                                    <tbody>
                                    <th>Tên phân loại</th>
                                    <th>Bí danh</th>
                                    <th class="text-center">Thao tác</th>
                                    @foreach (Category category in Model)
                                    {
                                        <tr data-id="@category.Id" data-level="1">
                                            <td data-column="name">
                                                @Html.DisplayFor(model => category.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => category.Alias_SEO)
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Details",new { Id = category.Id })" class="btn bg-blue btn-xs"><i class="fa fa-eye"></i> Xem</a>
                                                @*<a data-toggle="modal" data-target="#modal-editModal" href="@Url.Action("_EditModal", new { Id = category.Id })" class="btn btn-xs bg-blue"><i class="fa fa-edit"></i> Sửa</a>*@
                                                <a data-toggle="modal" data-target="#modal-deleteModal" href="@Url.Action("_DeleteModal", new { Id = category.Id })" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Xóa</a>
                                            </td>
                                        </tr>
                                        foreach (Category subcategory in category.Category1)
                                        {
                                            <tr data-id="@subcategory.Id" data-parent="@category.Id" data-level="2">
                                                <td data-column="name">
                                                    @Html.DisplayFor(model => subcategory.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => subcategory.Alias_SEO)
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("Details",new { Id = subcategory.Id })" class="btn bg-blue btn-xs"><i class="fa fa-eye"></i> Xem</a>
                                                    <a data-toggle="modal" data-target="#modal-deleteModal" href="@Url.Action("_DeleteModal", new { Id = subcategory.Id })" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Xóa</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade modal-ajax" id="modal-createModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-ajax" id="modal-editModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade modal-ajax" id="modal-deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>