@model List<Category>

@{
    ViewBag.Title = "Phân Loại Cấp " + Request.QueryString["level"]; 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#tblData').DataTable({
                columnDefs: [{ orderable: false, targets: [4] }],
                order: [[0, 'asc']],
            });
            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <p>
                    <a data-toggle="modal" href="@Url.Action("_CreateModal")" class="btn bg-green btn-xs" data-target="#modal-createModal">Thêm mới</a>
                </p>
            </div>
            <div class="box">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tblAspNetUser" class="table table-bordered " method="post">
                                    <thead>
                                        <tr>
                                            <th class="hidden">Parent Id</th>
                                            <th>Tên phân loại</th>
                                            <th>Bí danh</th>
                                            <th class="text-center">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Category category in Model)
                                        {
                                            <tr>
                                                <td class="hidden">@category.ParentId</td>
                                                <td>
                                                    @Html.DisplayFor(model => category.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => category.Alias_SEO)
                                                </td>
                                                <td class="text-center">
                                                    <a data-toggle="modal" data-target="#modal-editModal" href="@Url.Action("_EditModal", new { Id = category.Id })" class="btn btn-xs bg-blue"><i class="fa fa-edit"></i> Sửa</a>
                                                    <a data-toggle="modal" data-target="#modal-deleteModal" href="@Url.Action("_DeleteModal", new { Id = category.Id })" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Xóa</a>
                                                </td> 
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="modal-createModal">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-editModal">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-deleteModal">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>