@model MailBox
@{
    ViewBag.Title = "Liên hệ";
    InfoShop infoShop = Session["InfoShop"] as InfoShop;
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <h3 class="widget-title">Liên hệ với chúng tôi</h3>
                <div class="contact-form">
                @if (ViewBag.Message != null)
                {
                <div class="alert alert-success">
                    Gửi thành công.
                </div>
                }
                @Html.ValidationSummary(true, "", new {@class="text-danger" })
                    <form name="contactform" id="contactform" action="@Url.Action("Add")" method="post">
                        @Html.AntiForgeryToken()
                        <p>
                            @Html.TextBoxFor(m => m.Name, new { id="name", placeholder = "Họ tên" })
                            @Html.ValidationMessageFor(m => m.Name, "", new {@class="text-danger" })
                        </p>
                        <p>
                            @Html.TextBoxFor(m => m.Email, new { id = "email", placeholder = "Địa chỉ Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            @Html.TextBoxFor(m => m.Subject, new { id = "Subject", placeholder = "Chủ đề bạn muốn gửi" })
                            @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            @Html.TextAreaFor(m => m.Content, new { id = "Content", placeholder = "Nội dung" })
                            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                        </p>
                      
                        <input type="submit" class="mainBtn" id="submit" value="Gửi">
                    </form>
                </div> <!-- /.contact-form -->
            </div>
            <div class="col-md-7 col-sm-6 map-wrapper">
                <h3 class="widget-title">Địa chỉ của chúng tôi</h3>
                <div class="map-holder" style="height: 360px">
                    @Html.Raw(infoShop.Google_Map)
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.52232404024!2d106.78381231417228!3d10.847820460839634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276bb276eaf7%3A0x56a6a0eafe0e3b09!2zOTcgTWFuIFRoaeG7h24sIEhp4buHcCBQaMO6LCBRdeG6rW4gOSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1532792065754" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.content-section -->

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
  
}