@model List<News>
<div class="divTitle2" style="height:auto;padding-bottom:10px">
    Bài viết được quan tâm
</div>
<ul style="border:1px solid;margin:0px;padding-left:0px;">
    @foreach (News item in Model)
    {
    <li>
        <img src="@item.ImageCustom" alt="@item.Title" width="120" height="auto" />
        <a href="@Url.Action("ChiTiet",new { Alias = item.Alias_SEO })"><h5 style="margin:10px" class="colorBlueDrank">@item.Title</h5></a>
        <span>
            <span class="glyphicon glyphicon-eye-open"></span> @item.View Lượt xem
        </span>
    </li>
    }
</ul>
