@model News
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link href="~/Content/tinthoitrang.css" rel="stylesheet" />
}

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9">
                <span style="clear:both">
                    <span class="glyphicon glyphicon-user" title="Tác giả"></span> @(Model.AspNetUser != null ? Model.AspNetUser.FullName : "") | 
                    <span class="glyphicon glyphicon-time" title="Ngày đăng"></span> @Html.DisplayFor(m => Model.DateSubmitted) |
                    <span class="glyphicon glyphicon-eye-open" title="Lượt xem"></span> @Html.DisplayFor(m => Model.View) lượt xem |
                    <span class="glyphicon glyphicon-comment" title="Lượt bình luận"></span> <span class="fb-comments-count" data-href="@Request.Url.ToString()" id="countComments"></span> bình luận
                </span>
                <h2 style="margin-bottom:0px">@Html.DisplayFor(m => Model.Title)</h2>
                <p>@Html.DisplayFor(m => Model.Introduce)</p>
                <div id="detail">
                    <div class="fck_detail width_common">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
                <div id="like_fb">
                    <div class="fb-like" data-href="@Request.Url.ToString()" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
                <div id="comments">
                    <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="100%" data-numposts="5"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 Newscontent" id="rightsidebar" @*data-spy="affix" data-offset-top="205"*@>
                @Html.Action("_BaiVietQuanTamPartial")
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.content-section -->