@using PagedList;
@using PagedList.Mvc;
@model IPagedList<News>
@{
    ViewBag.Title = "Danh sách tin tức thời trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{

  
<link href="~/Content/tinthoitrang.css" rel="stylesheet" />
}
<div class="content-section">
    <div class="container">
        <div class="row Newscontent" >
            <h2 style="margin-top:0px">Tin thời trang</h2>
            <hr>
            <div class="col-md-8" >
                <ul >
                    @foreach(var item in Model)
                    { 
                    <li>
                        <img src="@item.ImageCustom" width="200" height="150" />
                        <a href="@Url.Action("ChiTiet", "News", new { Alias = item.Alias_SEO})"><h3 style="margin:0px">@item.Title</h3></a>
                        <p style="color:#000">@item.Introduce</p>
                    </li>
                    }
  
                </ul>
                <div class="clearfix text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index",new { page = page }))
                </div>
            </div>
            <div class="col-md-4" >
                @Html.Action("_BaiVietQuanTamPartial")
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.content-section -->

