<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Warehouse for Prestashop 1.7</title>
    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="">
    <meta property="og:title" content="Warehouse for Prestashop 1.7" />
    <meta property="og:url" content="http://iqit-commerce.com/ps17/en/" />
    <meta property="og:site_name" content="Warehouse for Prestashop 1.7" />
    <meta property="og:description" content="Shop powered by PrestaShop">
    <meta property="og:type" content="website">
    <meta property="og:image" content="~/Content/ps17/img/warehouse-for-prestashop-17-logo-1496957294.jpg" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    @RenderSection("meta", false)
    <link rel="icon" type="image/vnd.microsoft.icon" href="/ps17/img/favicon.ico?1496957294">
    <link rel="shortcut icon" type="image/x-icon" href="/ps17/img/favicon.ico?1496957294">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/ps17/themes/warehouse/assets/cache/theme-4a403a38.css" type="text/css" media="all">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled body-desktop-header-style-w-4">

    <main id="main-page-content">

        @Html.Partial("_HeaderPartial")
        <section id="wrapper">
            @RenderBody()
        </section>

        @{ Html.RenderAction("_FooterPartial", "Home", new { area = "" }); }

    </main>

    <script type="text/javascript" src="~/Content/ps17/themes/warehouse/assets/cache/bottom-5d8f5a37.js"></script>
    <div id="iqitwishlist-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">You need to login or create account</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section class="login-form">
                        <p> Save products on your wishlist to buy them later or share with your friends.</p>
                        <form id="login-form-modal" action="/ps17/en/login" method="post">
                            <section>
                                <input type="hidden" name="back" value="">
                                <div class="form-group row align-items-center ">
                                    <label class="col-md-2 col-form-label required">
                                        Email
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control"
                                               name="email"
                                               type="email"
                                               value=""
                                               required>
                                    </div>

                                    <div class="col-md-2 form-control-comment"></div>
                                </div>
                                <div class="form-group row align-items-center ">
                                    <label class="col-md-2 col-form-label required">
                                        Password
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group js-parent-focus">
                                            <input class="form-control js-child-focus js-visible-password"
                                                   name="password"
                                                   autocomplete="new-password" type="password"
                                                   value=""
                                                   pattern=".{5,}"
                                                   required>
                                            <span class="input-group-btn">
                                                <button class="btn"
                                                        type="button"
                                                        data-action="show-password">
                                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 form-control-comment">


                                    </div>
                                </div>
                                <div class="forgot-password">
                                    <a href="/ps17/en/password-recovery" rel="nofollow">
                                        Forgot your password?
                                    </a>
                                </div>
                            </section>
                            <footer class="form-footer text-center clearfix">
                                <input type="hidden" name="submitLogin" value="1">

                                <button id="submit-login" class="btn btn-primary form-control-submit" data-link-action="sign-in" type="submit">
                                    Sign in
                                </button>

                            </footer>
                        </form>
                    </section>
                    <hr />
                    <div class="no-account">
                        <a href="/ps17/en/login?create_account=1" data-link-action="display-register-form">
                            No account? Create one here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="iqitwishlist-notification" class="ns-box ns-effect-thumbslider ns-text-only">
        <div class="ns-box-inner">
            <div class="ns-content">
                <span class="ns-title"><i class="fa fa-check" aria-hidden="true"></i> <strong>Product added to wishlist</strong></span>
            </div>
        </div>
    </div><div id="iqitcompare-notification" class="ns-box ns-effect-thumbslider ns-text-only">
        <div class="ns-box-inner">
            <div class="ns-content">
                <span class="ns-title"><i class="fa fa-check" aria-hidden="true"></i> <strong>Product added to compare.</strong></span>
            </div>
        </div>
    </div>
    <div id="iqitpopup">
        <div class="iqitpopup-close">
            <div class="iqit-close-checkbox">
                <span class="custom-checkbox">
                    <input type="checkbox" name="iqitpopup-checkbox" id="iqitpopup-checkbox" />
                    <span><i class="fa fa-check checkbox-checked"></i></span>
                    <label for="iqitpopup-checkbox">Do not show again.</label>
                </span>

            </div>
            <div class="iqit-close-popup"><span class="cross" title="Close window"></span></div>
        </div>
        <div class="iqitpopup-content"></div>
        <div class="iqitpopup-newsletter-form">
            <div class="row">
                <div class="col-12">
                    <form action="//iqit-commerce.com/ps17/en/?fc=module&module=iqitemailsubscriptionconf&controller=subscription" method="post" class="form-inline justify-content-center">
                        <input class="inputNew form-control grey newsletter-input mr-3" type="text" name="email" size="18"
                               placeholder="Enter your e-mail" value="" />
                        <button type="submit" name="submitNewsletter"
                                class="btn btn-default button button-medium iqit-btn-newsletter">
                            <span>Subscribe</span>
                        </button>
                        <input type="hidden" name="action" value="0" />
                        <div class="mt-3 text-muted"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- #layer_cart -->

    <div id="iqitpopup-overlay"></div>

    <div id="iqitcookielaw" class="p-3">
        <p>iqitcookielaw - module, put here your own cookie law text</p>

        <button class="btn btn-primary" id="iqitcookielaw-accept">Accept</button>
    </div>


    <button id="back-to-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    @RenderSection("scripts", required: false)
</body>

</html>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    @RenderSection("meta", false)
    <title>@ViewBag.Title | 23.06 STORE - Cửa hàng chuyên cung cấp sẩn phẩm thời trang nam sỉ, lẻ chất lượng nhất</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link rel="icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body class="off-canvas-nav-left">
    @Html.Partial("_HeaderPartial")
    <a href="#" data-toggle="modal" id="thongbao" data-target="#thongBaoModal"></a>
    <div class="modal fade" id="thongBaoModal" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" id="ContentThongBao"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    @RenderBody()

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=222047801936739&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @{ Html.RenderAction("_FooterPartial", "Home", new { area = "" }); }

    @Scripts.Render("~/bundles/jqueryCDN")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $("body").tooltip({
                selector: '[data-toggle="tooltip"]'
            });
            $("#frmDangKyNhanTin").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    data: $(this).serialize(),
                    //dataType: "json",
                    method: "Post",
                    error: function (response) {
                        $("#ContentThongBao").html("<span class='text-danger'>" + response + "</span>");
                        $("#thongbao").click();
                    },
                    success: function (response) {
                        alert(response);
                    }

                });
            });
            $(document).on('click', '.social-icons a', function () {
                if ($(this).hasClass('fa fa-facebook')) {
                    window.open('https://www.facebook.com/sharer/sharer.php?u=@(Url.Action("Index", "Home", new { area = "" }, this.Request.Url.Scheme)) ', 'Share Facebook', config = 'height=300, width=500');
                }

                if ($(this).hasClass('fa fa-twitter')) {
                    window.open('http://twitter.com/home?status=Currently inspired by @(Url.Action("Index", "Home", new { area = "" }, this.Request.Url.Scheme))', 'Share Twitter', config = 'height=300, width=500');
                }

                if ($(this).hasClass('fa fa-google-plus')) {
                    window.open('https://plus.google.com/share?url=@(Url.Action("Index", "Home", new { area = "" }, this.Request.Url.Scheme))', 'Share Google +', config = 'height=300, width=500');
                }

            });
        });

    </script>
    @RenderSection("scripts", required: false)

    <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.12.1.min.js"><\/script>')</script>
</body>

</html>
