
<p class="text-danger">@ViewBag.StatusMessage</p>
@*<div>
    <img src="~/Photos/ThanhVien/@Model.Avatar" height="150" width="150" />
    <form id="frmCapNhatImage" enctype="multipart/form-data" action="@Url.Action("CapNhatImage","Account")" method="post">
        <h3>@Model.FullName</h3>
        <input type="file" name="file" id="btnFile" value="" style="display:none" />
        <button onclick="document.getElementById('btnFile').click();" type="button" class="btn btn-default" style="width:150px; border-radius:0px"><span class="glyphicon glyphicon-upload"></span> Đổi hình đại diện</button>
    </form>

</div>*@
<!-- Profile Image -->
<div class="text-center">
        <img width="150" height="150" src="@Model.AvatarCustom" alt="@Model.Avatar">
        <h4 class="text-center">@Model.FullName</h4>
        <p class="text-center">
                <input id="avatar" type="hidden" name="avatar">
                <button type="button" data-toggle="modal" data-target="#modal-crop-image" id="btnDoiHinh" class="btn btn-default"><i class="glyphicon glyphicon-picture"></i> Đổi hình</button>
        </p>
</div>
<!-- /.box -->
<div>
    <h5>Tài khoản: @Model.Email</h5>
    <h5>
        @if (ViewBag.HasLocalPassword == false)
        {
            <span>Mật khẩu : Chưa có</span> <a class="btn btn-success btn-sm" href="@Url.Action("SetPassword","Account")" role="button" title=""><span class="glyphicon glyphicon-ok-sign"></span>Tạo mật khẩu</a>
        }
        else
        {
            <span>Mật khẩu : •••••••• </span><a class="btn btn-default" href="@Url.Action("ChangePassword","Account")">Đổi mật khẩu</a>
        }
    </h5>
    <h5>SĐT: @Model.Phone </h5>
    <h5>Địa chỉ: @(Model.Address == null ? "Chưa cung cấp" : Model.Address) </h5>
    @if (Model.Gender != null)
    {
        <h5>
            Giới tính: @(Model.Gender == true ? "Nam" : "Nữ")
        </h5>
    }
    else
    {
        <h5>
            Giới tính: Chưa xác định
        </h5>
    }
    <h5>
        Ngày đăng ký: @Model.DateRegister.ToString("dd/MM/yyyy")
    </h5>
</div>
<div class="modal fade" id="modal-crop-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thay ảnh đại diện</h4>
            </div>
            <div class="modal-body">
                <div class="box-body" style="margin-bottom:10px">
                    @using (Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post))
                    {
                        <input type="hidden" name="userId" value="@Model.Id" />
                        @Html.AntiForgeryToken()
                        <div class="imageBox">
                            <div class="mask"></div>
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="upload-wapper">
                            @*<br />*@
                            <h5 class="text-left">Chọn 1 hình</h5>
                            <input type="file" id="upload-file" value="Upload"><br />
                            <button type="button" class="btn btn-primary hide" id="crop">Crop</button>
                            <button type="submit" class="btn btn-danger hide" id="btnLuu"><i class="fa fa-save"></i> Lưu</button>
                            <input type="hidden" name="base64String" id="file" />
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<a class="btn btn-primary btn-sm" href="@Url.Action("SuaThongTin","Account")"><span class="glyphicon glyphicon-edit"></span> Sửa thông tin</a>