@model SetPasswordViewModel



@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@Warehouse.Language.Manage.Index.SetPassword</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">@Warehouse.Language.Account.Index.NewPassword</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Warehouse.Language.Manage.Index.ConfirmPassword</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> @Warehouse.Language.Manage.Index.SetPassword</button>
        </div>
    </div>
}
