@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Đăng ký thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>&nbsp;</div>
                @if (!string.IsNullOrEmpty(ViewBag.LoginProvider))
                {
                    <img src="~/images/logo@(ViewBag.LoginProvider).png" />
                }
                <h3>Liên kết tài khoản @ViewBag.LoginProvider của bạn với website.</h3>
                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        Bạn đã xác thực thành công với tài khoản <strong>@ViewBag.LoginProvider</strong>.
                        Vui lòng điền đầy đủ các thông tin bên dưới để thực hiện đăng ký thành viên.
                    </p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Đăng ký</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

