@using Microsoft.Owin.Security
@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
    ViewBag.BodyId = "index";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-index tax-display-disabled body-desktop-header-style-w-4";
}

<div>&nbsp;</div>

<div id="inner-wrapper" class="container">
        <aside id="notifications"></aside>
        <div id="content-wrapper">
            <section id="main" class="col-sm-8" style="margin-left:auto;margin-right:auto">
                <header class="page-header">
                    <h1 class="h1 page-title">
                        <span>
                            Đăng nhập 
                        </span>
                    </h1>
                </header>
                <section id="content" class="page-content">
                    <section class="login-form">
                        <form name="loginform" id="loginform" action="@Url.Action("Login","Account")" method="post">

                            <input type="hidden" name="returnUrl" value="@Request.Url" />
                            @Html.AntiForgeryToken()
                            <section>
                                <div class="form-group row align-items-center ">
                                    <label class="col-md-2 col-form-label required">
                                        @Html.DisplayNameFor(m => m.Email)
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-control-comment">
                                    </div>
                                </div>
                                <div class="form-group row align-items-center ">
                                    <label class="col-md-2 col-form-label required">
                                        @Html.DisplayNameFor(m => m.Password)
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group js-parent-focus">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control js-child-focus js-visible-password" })
                                            <span class="input-group-btn">
                                                <button class="btn" type="button" data-action="show-password">
                                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-control-comment">
                                    </div>
                                </div>
                                <div class="forgot-password">
                                    @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "Account", new { rel = "nofollow", @class="text-primary" })
                                </div>
                            </section>
                            <footer class="form-footer text-center clearfix">
                                <input type="hidden" name="submitLogin" value="1">
                                <button  class="btn btn-primary form-control-submit" data-link-action="sign-in" type="submit">
                                    Đăng Nhập
                                </button>
                            </footer>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </form>
                    </section>
                    <hr>
                    <div class="no-account">
                        <a class="text-danger" href="@Url.Action("Register","Account",new { area="" })" data-link-action="display-register-form">
                            Bạn chưa có tài khoản? Tạo ngay tại khoản tại đây <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </section>
                <footer class="page-footer">
                </footer>
            </section>
        </div>
    </div>
<div>&nbsp;</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}