@using Microsoft.AspNet.Identity;
@using System.Configuration;
@model AspNetUser
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Message = "Thông tin cá nhân";
}
@section Styles{
    <link href="~/Content/canvasCrop.css" rel="stylesheet" />
    <style>
        .cropped {
            position: absolute;
            right: -230px;
            top: 0;
            width: 200px;
            border: 1px #ddd solid;
            height: 460px;
            padding: 4px;
            box-shadow: 0px 0px 12px #ddd;
            text-align: center;
        }

       .imageBox {
            position: relative;
            height: @((int.Parse(ConfigurationManager.AppSettings["HeightImageUser"]) + 100).ToString())px;
            width: @((int.Parse(ConfigurationManager.AppSettings["WidthImageUser"]) * 2).ToString())px;
            margin:0 auto;
            border: none;
            background: #fff;
            overflow: hidden;
            background-repeat: no-repeat;
            cursor: move;
            box-shadow: 4px 4px 12px #B0B0B0;
        }

            .imageBox .thumbBox {
                position: relative;
                width: @(ConfigurationManager.AppSettings["WidthImageUser"])px;
                height: @(ConfigurationManager.AppSettings["HeightImageUser"])px;
                margin-left: -@((int.Parse(ConfigurationManager.AppSettings["WidthImageUser"]) / 2).ToString())px;
                margin-top: -@((int.Parse(ConfigurationManager.AppSettings["HeightImageUser"]) / 2).ToString())px;
                box-sizing: border-box;
                border: none;
                box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
                background: none repeat scroll 0% 0% transparent;
            }

            .imageBox .spinner {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                line-height: 400px;
                background: rgba(0,0,0,0.7);
            }
    </style>
}

<div class="col-md-12 text-center">
    @Html.Action("_ThongTinTaiKhoanPartial")
</div>
@section Scripts
{
    @*<script>
            $("input[type='file']").change(function () {
                if ($(this).val().length > 0) {
                    if (confirm('Xác nhận cập nhật hình đại diện?') == true) {
                        $("#frmCapNhatImage").submit();
                    }
                    else {
                        $(this).val("");
                    }
                }
            })
        </script>*@
    <script src="~/Scripts/jquery.canvasCrop.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var rot = 0, ratio = 1;

            $('#upload-file').on('change', function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    CanvasCrop = $.CanvasCrop({
                        cropBox: ".imageBox",
                        imgSrc: e.target.result,
                        limitOver: 2
                    });
                    rot = 0;
                    ratio = 1;

                }

                reader.readAsDataURL(this.files[0]);
                console.log(this);
                this.value = "";
                $("#crop").removeClass("hide");
                $("#btnLuu").addClass("hide");
            });

            $("#crop").on("click", function () {
                var src = CanvasCrop.getDataURL("jpeg");
                $("#modal-crop-image .modal-body").append("<img src='" + src + "' />");
                $("#file").val(src);
                $("#btnLuu").removeClass("hide");
            });



            console.log("ontouchend" in document);

        })
    </script>
}


