@model RegisterViewModel

@{
    ViewBag.Title = Warehouse.Language.Header.Header.Register;
    ViewBag.BodyId = "index";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account body-desktop-header-style-w-4";
}

<div>&nbsp;</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title">
                    <span>
                        @ViewBag.Title
                    </span>
                </h1>
            </header>
            <section id="content" class="page-content">
                <section>
                    <p><i class="fa fa-question-circle-o" aria-hidden="true"></i> @Warehouse.Language.Shared.Index.DoYouHaveAccount ? <a href="@Url.Action("Login")" class="text-danger"><u>@Warehouse.Language.Shared.Index.LoginNow!</u></a></p>
                    <form action="@Url.Action("Register")" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <section>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    @Warehouse.Language.Shared.Index.FullName
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 form-control-comment">

                                </div>
                            </div>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    Email
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    @Warehouse.Language.Account.Index.Password
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group js-parent-focus">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "" })
                                        <span class="input-group-btn">
                                            <button class="btn" type="button" data-action="show-password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    @Warehouse.Language.Manage.Index.ConfirmPassword
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group js-parent-focus">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        <span class="input-group-btn">
                                            <button class="btn" type="button" data-action="show-password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    @Warehouse.Language.Shared.Index.Phone
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                                    <span class="form-control-comment">

                                    </span>
                                </div>
                                <div class="col-md-2 form-control-comment">
                                    @*hập số điện thoại bạn đang dùng*@
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    @Warehouse.Language.Shared.Index.Address
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    <span class="form-control-comment">
                                        @Warehouse.Language.Shared.Index.SpecificAddress
                                    </span>
                                </div>
                                <div class="col-md-2 form-control-comment">
                                   @* Nhập chính xác để chúng tôi dễ dàng giao hàng cho bạn*@
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    @Warehouse.Language.Shared.Index.City
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("ProvinceId", null, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessage("ProvinceId", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    @Warehouse.Language.Shared.Index.District
                                </label>
                                <div class="col-md-8" id="Districts">
                                    @Html.DropDownList("DistrictId", null, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessage("DistrictId", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    @Warehouse.Language.Shared.Index.Ward
                                </label>
                                <div class="col-md-8" id="Wards">
                                    @Html.DropDownList("WardId", null, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessage("WardId", new { @class = "text-danger" })
                                </div>
                            </div>
                        </section>
                        <footer class="form-footer text-center clearfix">
                            <button class="btn btn-primary" type="submit">
                                @Warehouse.Language.Shared.Index.Confirm
                            </button>

                        </footer>
                    </form>
                </section>
            </section>
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $.post("@Url.Action("_GetDistrictByProvince","Location")", { ProvinceId: $("#ProvinceId").val() }, function (data) {
                    $("#Districts").html(data);
                    $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $("#DistrictId").val() }, function (data) {
                        $("#Wards").html(data);
                    });
            });
            $(document).on("change", "#ProvinceId", function (e) {
                $.post("@Url.Action("_GetDistrictByProvince","Location")", { ProvinceId: $(this).val() }, function (data) {
                    $("#Districts").html(data);
                    $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $("#DistrictId").val() }, function (data) {
                        $("#Wards").html(data);
                    });
                });
            });
            $(document).on("change", "#DistrictId", function (e) {
                $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $(this).val() }, function (data) {
                    $("#Wards").html(data);
                });
            });

        });
    </script>
}