@model RegisterViewModel

@{
    ViewBag.Title = "Tạo tài khoản";
    ViewBag.BodyId = "index";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account body-desktop-header-style-w-4";
}

<div class="container">
    <nav class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol>
                    <li>
                        <a href="/">
                            <span>Trang chủ</span>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title">
                    <span>
                        Tạo tài khoản
                    </span>
                </h1>
            </header>
            <section id="content" class="page-content">
                <section class="register-form">
                    <p><i class="fa fa-question-circle-o" aria-hidden="true"></i> Bạn đã có tài khoản ở shop ? <a href="@Url.Action("Login")"><u>Đăng nhập ngay!</u></a></p>
                    <form action="@Url.Action("Register")" class="js-customer-form" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <section>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    Họ tên
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "" })
                                </div>
                                <div class="col-md-2 form-control-comment">

                                </div>
                            </div>

                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    Email
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "" })
                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    Mật khẩu
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group js-parent-focus">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "" })
                                        <span class="input-group-btn">
                                            <button class="btn" type="button" data-action="show-password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label required">
                                    Xác thực mật khẩu
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group js-parent-focus">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        <span class="input-group-btn">
                                            <button class="btn" type="button" data-action="show-password">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 form-control-comment">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    Địa chỉ
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    <span class="form-control-comment">
                                        Số nhà/Khu phố/Đường
                                    </span>
                                </div>
                                <div class="col-md-2 form-control-comment">
                                    Nhập chính xác để chúng tôi dễ dàng giao hàng cho bạn
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    Tỉnh/Thành
                                </label>
                                <div class="col-md-8">
                                    @using (Ajax.BeginForm("_GetDistrictByProvince", new AjaxOptions { AllowCache = true, UpdateTargetId = "Districts", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }))
                                    {
                                        <button type="submit" class="hidden"></button>
                                        @Html.DropDownList("ProvinceId", null, new { @class = "form-control", onchange = "this.parentNode.submit()" })
                                    }
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    Quận/Huyện
                                </label>
                                <div class="col-md-8" id="Districts">
                                </div>
                            </div>
                            <div class="form-group row align-items-center ">
                                <label class="col-md-2 col-form-label">
                                    Phường/Xã
                                </label>
                                <div class="col-md-8" id="Wards">
                                </div>
                            </div>
                        </section>
                        <footer class="form-footer text-center clearfix">
                            <input type="hidden" name="submitCreate" value="1">

                            <button class="btn btn-primary form-control-submit" data-link-action="save-customer" type="submit">
                                Hoàn Thành
                            </button>

                        </footer>
                    </form>
                </section>
            </section>
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}