@model ResetPasswordViewModel

@{
    ViewBag.Title = "Đặt lại mật khẩu";
}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title">
                    <span>
                        @ViewBag.Title
                    </span>
                </h1>
            </header>
            <section id="content" class="page-content">
                <ul class="ps-alert-error"></ul>

                <header>
                    <p class="send-renew-password-link">Nhập email mà bạn đã đăng ký trước đó. Bạn sẽ nhận được một liên kết tạm thời để đặt lại mật khẩu của mình.</p>
                </header>

                <section class="form-fields">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="form-control-submit btn btn-primary" value="Chấp nhận" />
                            </div>
                        </div>
                    }
                </section>
                <hr>
                <a href="@Url.Action("Login")" class="account-link">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span>Về lại trang đăng nhập</span>
                </a>
            </section>
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

