@model SetPasswordViewModel

@{
    ViewBag.Title = "Tạo mật khẩu";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Message = "Tạo mật khẩu";
}
<div class="col-md-12">
    <label>
        Tài khoản của bạn chưa có mật khẩu. Bạn có thể tạo 1 mật khẩu cho tài khoản của bạn để có thể đăng nhập vào
        website bằng tài khoản website mà không cần phải đăng nhập bằng tài khoản dịch vụ bên thứ 3.
    </label>
</div>
@using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Tạo mật khẩu</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1);"> Trở lại</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
