@model CartItem
@{ 
    List<CartItem> ShoppingCart = Session["ShoppingCart"] as List<CartItem>;
}

<div class="row">
    <div class="col-md-5 divide-right mb-1">
        <div class="row no-gutters align-items-center">
            <div class="col-6 text-center">
                <img src="@Model.FullUrlImage" data-image-large-src="@Model.FullUrlZoomImage" alt="" title="" itemprop="image" content="@Model.FullUrlImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid">
            </div>
            <div class="col col-info">
                <div class="pb-1">
                    <span class="product-name"><a href="@Url.Action("Details","Product",new { alias = Model.Alias })">@Model.Name</a></span>
                </div>
                <span class="text-muted">@Model.Quantity x</span> <span>@(Warehouse.Common.Format.FormatCurrencyVND((int)Model.Price))</span>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="cart-content pt-3">
            <p class="cart-products-count">@Warehouse.Language.ShoppingCart.Index.ShoppingCart @Warehouse.Language.Shared.Index.Has @(ShoppingCart.Sum(c => c.Quantity)) @Warehouse.Language.Product.Index.Product.</p>
            <p>
                <strong>@Warehouse.Language.ShoppingCart.Index.Total:</strong>&nbsp;@(Warehouse.Common.Format.FormatCurrencyVND((int)ShoppingCart.Sum(c=>c.Subtotal)))
            </p>

            <div class="cart-content-btn">
                <a href="@Url.Action("Index","ShoppingCart")" class="btn btn-primary btn-block btn-lg mb-2">@Warehouse.Language.ShoppingCart.Index.GoToCart</a>
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">@Warehouse.Language.ShoppingCart.Index.ContinueToBuy</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.post("@Url.Action("UpdateShoppingCartPartial")", function (data) {
        $("#ps-shoppingcart-wrapper").html(data);
    });
</script>