@model List<CartItem>
@{
    ViewBag.Title = Warehouse.Language.Header.Header.ShoppingCart;
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalMoney = Model.Sum(m => m.Subtotal);
    int totalCount = Model.Sum(m => m.Quantity);
    ViewBag.BodyId = "authentication";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account body-desktop-header-style-w-4 ";
}

@section Styles{
}

@section scripts
{

}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">


                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                    </li>

                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title text-capitalize"><span>@ViewBag.Title </span></h1>
            <div class="cart-grid row">
                <!-- Left Block: cart product informations & shpping -->
                <div class="cart-grid-body col-12 col-lg-8">
                    <!-- cart products detailed -->
                    <div class="cart-container">
                        <div class="cart-overview js-cart">
                            @if (Model.Count == 0)
                            {
                                <div class="alert alert-warning">@Warehouse.Language.Header.Header.EmptyCart</div>
                            }
                            else
                            {
                                <ul class="cart-items">
                                    <li class="cart-item-header hidden-sm-down">
                                        <div class="row small-gutters">

                                            <div class="col-6 text-center">@Warehouse.Language.Product.Index.Product</div>
                                            <div class="col-6">
                                                <div class="row small-gutters">
                                                    <div class="col">@Warehouse.Language.Product.Index.Price</div>
                                                    <div class="col">@Warehouse.Language.ShoppingCart.Index.Amount</div>
                                                    <div class="col">@Warehouse.Language.ShoppingCart.Index.Total</div>
                                                    <div class="col col-auto"><i class="fa fa-trash-o invisible" aria-hidden="true"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    @foreach (var item in Model)
                                    {
                                        <li class="cart-item">
                                            <div class="product-line-grid row align-items-center small-gutters">
                                                <!--  product left body: description -->
                                                <div class="product-line-grid-body col-12 col-sm-6 col-md-6">
                                                    <div class="row align-items-center small-gutters">
                                                        <div class="col product-image">
                                                            <a href="@Url.Action("Details", "Product", new { alias = item.Alias })">
                                                                <img src="@item.FullUrlImage" alt="@item.Name" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="col col-9">
                                                            <div class="product-line-info">
                                                                <b><a class="label" href="@Url.Action("Details", "Product", new { alias = item.Alias })">@item.Name</a></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--  product left body: description -->
                                                <div class="col-12 col-sm-6 col-md-6 product-line-grid-right product-line-actions">
                                                    <div class="row align-items-center small-gutters justify-content-end">
                                                        <!--  product unit-->
                                                        <div class="col col-auto col-md unit-price">
                                                            <span class="value"> @(Warehouse.Common.Format.FormatCurrencyVND((int)item.Price)) </span>
                                                        </div>

                                                        <div class="col col-auto col-md">
                                                            <input class="form-control" type="number" value="@item.Quantity" min="1" step="1" onchange="quantity(@item.Id)">
                                                        </div>
                                                        <div class="col col-auto col-md price">
                                                            <span class="product-price">
                                                                <strong>
                                                                    @(Warehouse.Common.Format.FormatCurrencyVND((int)item.Subtotal))
                                                                </strong>
                                                            </span>
                                                        </div>

                                                        <div class="col col-auto">
                                                            <div class="cart-line-product-actions">
                                                                <a class="remove-from-cart" rel="nofollow" href="@Url.Action("Delete", "ShoppingCart", new { Id = item.Id })" onclick="return confirm('@Warehouse.Language.ShoppingCart.Index.DeleteConfirm?')">
                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <a class="btn btn-secondary mt-3 mb-3" href="/">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> @Warehouse.Language.ShoppingCart.Index.ContinueToBuy
                    </a>
                    <!-- shipping informations -->
                </div>
                <!-- Right Block: cart subtotal & cart total -->
                <div class="cart-grid-right col-12 col-lg-4">
                    <div class="card cart-summary">
                        <div class="cart-detailed-totals">

                            <div class="card-block">
                                <div class="cart-summary-line" id="cart-subtotal-products">
                                    <span class="label js-subtotal">
                                        @(Model.Sum(c => c.Quantity)) @Warehouse.Language.Product.Index.Product
                                    </span>
                                    @* <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int)Model.Sum(s=>s.Subtotal)))</span>*@
                                </div>

                                @*<div class="cart-summary-line" id="cart-subtotal-shipping">
                                        <span class="label">
                                            Shipping
                                        </span>
                                        <span class="value">$7.00</span>
                                        <div><small class="value"></small></div>
                                    </div>*@
                            </div>


                            <hr>
                            @*<div class="block-promo">
                                    <div class="cart-voucher">
                                        <div class="cart-voucher-area">
                                            <div class="promo-code" id="promo-code">
                                                <div class="alert alert-danger js-error" role="alert">
                                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span class="m-l-1 js-error-text"></span>
                                                </div>
                                                <form action="https://iqit-commerce.com/ps17/en/cart" data-link-action="add-voucher" method="post" class="">
                                                    <div class="input-group">
                                                        <i class="fa fa-tag btn voucher-icon" aria-hidden="true"></i>
                                                        <input type="hidden" name="token" value="3e8cee7ca4392af7040793adb7288b50">
                                                        <input type="hidden" name="addDiscount" value="1">
                                                        <input class="form-control" type="text" name="discount_name" placeholder="Promo code">
                                                        <button type="submit" class="btn btn-secondary">
                                                            <span>Add</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            @*<hr>*@
                            <div class="card-block">
                                <div class="cart-summary-line cart-total">
                                    <span class="label">@Warehouse.Language.ShoppingCart.Index.Total</span>
                                    <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int)Model.Sum(s => s.Subtotal)))</span>
                                </div>
                                <div class="cart-summary-line">
                                    <small class="label"></small>
                                    <small class="value"></small>
                                </div>
                                @*<div class="alert alert-info iqitfreedeliverycount p-2 " role="alert">
                                        <div class="iqitfreedeliverycount-title mb-1"><strong>Spend <span class="ifdc-remaining-price">$378.00</span> more to get free shipping!</strong></div>
                                        IQITFREEDELIVERYCOUNT - module, you can put own text in configuration
                                    </div>*@
                            </div>
                            <hr>
                        </div>
                        <div class="checkout cart-detailed-actions card-block">
                            <div class="text-xs-center">
                                <a href="@Url.Action("Checkout", "Order")" class="btn btn-primary btn-lg btn-block">@Warehouse.Language.ShoppingCart.Index.Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function quantity(id) {
        debugger
        $.post("/ShoppingCart/Edit", { "id": id, "quantity": event.target.value },
            function (data) {
                location.reload();
            }
        );
    }

</script>