<div id="ps-shoppingcart-wrapper" class="col col-auto">
    <div id="ps-shoppingcart" class="header-btn-w header-cart-btn-w ps-shoppingcart side-cart">
        <div id="blockcart" class="blockcart cart-preview" data-refresh-url="//iqit-commerce.com/ps17/en/module/ps_shoppingcart/ajax">
            <a id="cart-toogle" class="cart-toogle header-btn header-cart-btn" data-toggle="dropdown">
                <i class="fa fa-shopping-bag fa-fw icon" aria-hidden="true"><span class="cart-products-count-btn">3</span></i>
                <span class="info-wrapper">
                    <span class="title">Giỏ hàng</span>
                    <span class="cart-toggle-details">
                        <span class="text-faded cart-separator"> / </span>
                        <span class="cart-products-count">(@((Session["ShoppingCart"] as List<CartItem>).Count))</span>
                        <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((Session["ShoppingCart"] as List<CartItem>).Count))</span>
                    </span>
                </span>
            </a>
            <div id="_desktop_blockcart-content">
                <div id="blockcart-content" class="blockcart-content">
                    <div class="cart-title">
                        <span class="modal-title">Giỏ hàng</span>
                        <button type="button" id="js-cart-close" class="close">
                            <span>×</span>
                        </button>
                        <hr>
                    </div>
                    <ul class="cart-products">
                        <li>
                            <div class="row no-gutters align-items-center">
                                <div class="col-3">
                                    <span class="product-image media-middle">
                                        <a href="https://iqit-commerce.com/ps17/en/shoes/133-363-printed-chiffon-dress.html#/1-size-s/16-color-yellow"><img src="https://iqit-commerce.com/ps17/451-cart_default/printed-chiffon-dress.jpg" alt="Printed Chiffon Dress" class="img-fluid"></a>
                                    </span>
                                </div>
                                <div class="col col-info">
                                    <div class="pb-1">
                                        <a href="https://iqit-commerce.com/ps17/en/shoes/133-363-printed-chiffon-dress.html#/1-size-s/16-color-yellow">Printed Chiffon Dress</a>
                                    </div>

                                    <div class="product-attributes text-muted pb-1">
                                        <div class="product-line-info">
                                            <span class="label">Size:</span>
                                            <span class="value">S</span>
                                        </div>
                                        <div class="product-line-info">
                                            <span class="label">Color:</span>
                                            <span class="value">Yellow</span>
                                        </div>
                                    </div>

                                    <span class="text-muted">1 x</span>
                                    <span>$20.50</span>
                                </div>
                                <div class="col col-auto">
                                    <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=133&amp;id_product_attribute=363&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-link-place="cart-preview" data-id-product="133" data-id-product-attribute="363" data-id-customization="" title="remove from cart">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>


                        </li>
                        <li>
                            <div class="row no-gutters align-items-center">
                                <div class="col-3">
                                    <span class="product-image media-middle">
                                        <a href="https://iqit-commerce.com/ps17/en/blouses/116-printed-summer-dress.html"><img src="https://iqit-commerce.com/ps17/395-cart_default/printed-summer-dress.jpg" alt="Leather bag" class="img-fluid"></a>
                                    </span>
                                </div>
                                <div class="col col-info">
                                    <div class="pb-1">
                                        <a href="https://iqit-commerce.com/ps17/en/blouses/116-printed-summer-dress.html">Leather bag</a>
                                    </div>


                                    <span class="text-muted">1 x</span>
                                    <span>$30.50</span>
                                </div>
                                <div class="col col-auto">
                                    <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=116&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-link-place="cart-preview" data-id-product="116" data-id-product-attribute="0" data-id-customization="" title="remove from cart">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>


                        </li>
                        <li>
                            <div class="row no-gutters align-items-center">
                                <div class="col-3">
                                    <span class="product-image media-middle">
                                        <a href="https://iqit-commerce.com/ps17/en/accessories/87-printed-summer-dress.html"><img src="https://iqit-commerce.com/ps17/289-cart_default/printed-summer-dress.jpg" alt="Leather bag" class="img-fluid"></a>
                                    </span>
                                </div>
                                <div class="col col-info">
                                    <div class="pb-1">
                                        <a href="https://iqit-commerce.com/ps17/en/accessories/87-printed-summer-dress.html">Leather bag</a>
                                    </div>


                                    <span class="text-muted">1 x</span>
                                    <span>$30.50</span>
                                </div>
                                <div class="col col-auto">
                                    <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=87&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-link-place="cart-preview" data-id-product="87" data-id-product-attribute="0" data-id-customization="" title="remove from cart">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>


                        </li>
                    </ul>
                    <div class="cart-subtotals">
                        <div class="products clearfix">
                            <span class="label">Tổng tiền</span>
                            <span class="value float-right">@(Warehouse.Common.Format.FormatCurrencyVND((int)(Session["ShoppingCart"] as List<CartItem>).Sum(c => c.Subtotal)))</span>
                        </div>
                    </div>

                    <div class="cart-buttons text-center">
                        <a href="@Url.Action("Checkout","Order")" class="btn btn-primary btn-block btn-lg mb-2">Đặt hàng ngay</a>
                        <a rel="nofollow" class="btn btn-secondary btn-block" href="@Url.Action("Index","ShoppingCart")">Xem giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
