@model PromotionProduct

@{
    ViewBag.Title = "Khuyến mãi sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Message = "Thêm sản phẩm khuyến mãi";
}

<h2>Khuyến mãi sản phẩm "@ViewBag.Name"</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("ProductId", (int)ViewBag.ProductId)
        @Html.Hidden("Name", (string)ViewBag.Name)
        @if (Request.UrlReferrer != null)
        {
            @Html.Hidden("returnUrl", Request.UrlReferrer.ToString())
        }
        else
        {
            @Html.Hidden("returnUrl", Url.Action("Index", "Product"))
        }
        <div class="form-group">
            <label class="control-label col-md-2">Đơn giá</label>
            <div class="col-md-10">
                <input type="text" readonly="readonly" value="@ViewBag.Price" style="height:auto" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PromotionalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionalPrice, new { htmlAttributes = new { @class = "form-control",style="height:auto",step=100000 } })
                @Html.ValidationMessageFor(model => model.PromotionalPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Chấp nhận" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index","Product")">Về danh sách</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
