@model List<Blog>
@{

    ViewBag.Title = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#tblData').DataTable({
                columnDefs: [{ orderable: false, targets: [0,8] }],
                order: [[1, 'desc']],
            });
           
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div>
                        <p>
                            <a href="@Url.Action("Create")" class="btn bg-green btn-xs" >Tạo bài viết</a>
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table id="tblData" class="table table-bordered table-middle" method="post">
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th class="hidden">Mã số</th>
                                    <th>Tiêu đề</th>
                                    <th>Lượt xem</th>
                                    <th>Lượt thích</th>
                                    <th>Tác giả</th>
                                    <th>Ngày tạo</th>
                                    <th>Hiển thị</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Blog item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <img src="~/Photos/Blogs/@item.Image" width="100" height="auto" />
                                        </td>
                                        <td class="hidden">
                                            @item.Id
                                        </td>
                                        <td>
                                            <b><a href="@Url.Action("Details","Blog",new { alias = item.Alias, area="" })" target="_blank">@item.Title</a></b>
                                        </td>
                                        <td>
                                            @item.ViewCount lượt
                                        </td>
                                        <td>
                                            @item.LikeCount lượt
                                        </td>
                                        <td>
                                            @if (item.User != null)
                                            {
                                                @item.User.UserName
                                            }
                                        </td>
                                        <td>
                                            @if (item.DateCreated.HasValue)
                                            {
                                                @Warehouse.Common.Format.FormatDateTime(item.DateCreated.Value)
                                            }
                                        </td>
                                        <td>
                                            @if (item.Display != null && item.Display == true)
                                            {
                                                <label class="label label-success">Hiển thị</label>
                                            }
                                            else
                                            {
                                                <label class="label label-danger">Ẩn</label>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a class="btn bg-blue btn-xs" href="@Url.Action("Details", new { Id = item.Id })"><i class="fa fa-eye"></i> Xem</a>
                                            <a class="btn bg-blue btn-xs" href="@Url.Action("Edit", new { Id = item.Id })"><i class="fa fa-edit"></i> Sửa</a>
                                            <form class="hidden" id="frmDelete_@item.Id" action="@Url.Action("Delete",new { Id = item.Id })" method="post">
                                                @Html.AntiForgeryToken()
                                            </form>
                                            <button class="btn bg-red btn-xs" onclick="if(confirm('Xác nhận xóa bài viết @item.Title ?')) { document.getElementById('frmDelete_@item.Id').submit();  }"><i class="fa fa-remove"></i> Xóa</button>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->       
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

