@model QuickViewProductViewModel



<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
</button>
<div id="quickview-modal-product-content" class="row no-gutters">
    <div class="col-md-6 text-center">
        <div class="images-container images-container-bottom">
            <div class="product-cover">
                <ul class="product-flags">
                    <li class="product-flag" style="background:@Model.FlagColor">@Model.ProductFlag</li>
                </ul>
                <a class="expander" data-toggle="modal" data-target="#product-modal"><span><i class="fa fa-expand" aria-hidden="true"></i></span></a>

                <div id="product-images-large" class="product-images-large">
                    <img src="@Model.FullUrlImage" data-image-large-src="@Model.FullZoomUrlImage" alt="" title="" itemprop="image" content="@Model.FullUrlImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 align-self-center">
        <div class="quickview-info">
            <div class="product_header_container">
                <h1 class="h1"><a href="@Url.Action("Details","Product",new { alias = Model.Alias })">@Model.Name</a></h1>
                <div class="product-prices">
                    <div>
                        <div>
                            <span class="product-price">@(Warehouse.Common.Format.FormatCurrencyVND(Model.Price))</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="product-description-short" >
                <p>@Model.Description</p>
            </div>

            <div class="product-actions">
                <form action="@Url.Action("Add","ShoppingCart",new { id = Model.Id })" method="get" >
                    @Html.AntiForgeryToken()

                    <div class="product-add-to-cart pt-3">
                        <div class="row extra-small-gutters product-quantity">
                            
                            <div class="col col-12 col-sm-auto">
                                <div class="add">
                                    <a href="@Url.Action("Add","ShoppingCart",new { id = Model.Id })" data-toggle="modal" data-target="#blockcart-modal" class="btn btn-primary btn-lg add-to-cart"  >
                                        <i class="fa fa-shopping-bag fa-fw bag-icon" aria-hidden="true"></i>
                                        <i class="fa fa-circle-o-notch fa-spin fa-fw spinner-icon" aria-hidden="true"></i>
                                        Thêm vào giỏ
                                    </a>
                                </div>
                            </div>
                            <div class="col col-sm-auto">
                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-toggle="tooltip" title="" data-original-title="Thêm sản phẩm yêu thích" onclick="Fav(@Model.Id)">
                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col col-sm-auto">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to compare" class="btn btn-secondary btn-lg btn-iconic btn-iqitcompare-add js-iqitcompare-add" data-animation="false" id="iqit-compare-product-btn" data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions">
                                    <i class="fa fa-random not-added" aria-hidden="true"></i><i class="fa fa-check added" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <p class="product-minimal-quantity">
                        </p>
                    </div>
                </form>
            </div>

            <div class="quickview-product-additional-info">
                <div class="social-sharing">
                    <ul>
                        <li class="facebook">
                            <a href="http://www.facebook.com/sharer.php?u=@(Request.Url)" title="Share" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/intent/tweet?text=@Model.Name @(Request.Url)" title="Tweet" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="googleplus">
                            <a href="https://plus.google.com/share?url=@Request.Url" title="Google+" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="http://www.pinterest.com/pin/create/button/?media=@(Model.FullUrlImage)&amp;url=@(Request.Url)" title="Pinterest" target="_blank">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
