<div>
    <div id="js-product-list-top" class="products-selection">
        <div class="row align-items-center justify-content-between small-gutters">
            <div class="col col-auto facated-toggler">
                <div class="filter-button">
                    <button id="search_center_filter_toggler" class="btn btn-secondary"><i class="fa fa-filter" aria-hidden="true"></i> @Warehouse.Language.Shared.Index.Filter</button>
                </div>
            </div>
            <div class="col view-switcher hidden-sm-down">

                @using (Ajax.BeginForm("Index", "Product", null,
                    new AjaxOptions()
                    {
                        AllowCache = true,
                        HttpMethod = "Get",
                        LoadingElementId = "infinity-loader-icon",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "products",
                        LoadingElementDuration = 2000
                    },
                                        new { style = "display:none" }))
                {
                    <input type="hidden" name="productListView" value="grid" />
                    <input type="hidden" name="sortName" value="@Request.QueryString["aliasCategory"]" />
                    <input type="hidden" name="sortType" value="@Request.QueryString["sortType"]" />
                    <input type="hidden" name="page" value="@Request.QueryString["page"]" />
                    <input type="hidden" name="aliasCategory" value="@Url.RequestContext.RouteData.Values["aliasCategory"]" />
                    <button type="submit" id="btnsubmit-Grid" class="hidden"></button>
                }

                @using (Ajax.BeginForm("Index", "Product", null,
                    new AjaxOptions()
                    {
                        AllowCache = true,
                        HttpMethod = "Get",
                        LoadingElementId = "infinity-loader-icon",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "products",
                        LoadingElementDuration = 3000
                    }, new { style = "display:none" }))
                {
                    <input type="hidden" name="productListView" value="list" />
                    <input type="hidden" name="sortName" value="@Request.QueryString["aliasCategory"]" />
                    <input type="hidden" name="sortType" value="@Request.QueryString["sortType"]" />
                    <input type="hidden" name="page" value="@Request.QueryString["page"]" />
                    <input type="hidden" name="aliasCategory" value="@Url.RequestContext.RouteData.Values["aliasCategory"]" />
                    <button type="submit" id="btnsubmit-List" class="hidden"></button>
                }
                <a href="javascript:$('#btnsubmit-Grid').click()" class="current"><i class="fa fa-th" aria-hidden="true"></i></a>
                <a href="javascript:$('#btnsubmit-List').click()" class="current"><i class="fa fa-th-list" aria-hidden="true"></i></a>
            </div>
            <div class="col col-auto">
                <span class="showing hidden-sm-down">
                    @Warehouse.Language.Shared.Index.DisplayFrom @ViewBag.Start @Warehouse.Language.Shared.Index.To.ToLower() @((int)ViewBag.Start + Model.Count - 1) @Warehouse.Language.Product.Index.Product.ToLower() @Warehouse.Language.Shared.Index.InTotal.ToLower() @ViewBag.CountAll 
                </span>
                <div class="products-sort-nb-dropdown products-sort-order dropdown">
                    <a class="select-title expand-more form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="select-title-name">@Warehouse.Language.Shared.Index.Sort</span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a rel="nofollow" href="javascript:void(0)" class="select-list dropdown-item current">
                            @Warehouse.Language.Shared.Index.Sort
                        </a>
                        <a rel="nofollow" href="@Url.Action("Index", new {
                                               aliasCategory = Url.RequestContext.RouteData.Values["aliasCategory"],
                                               productListView = Request.QueryString["productListView"],
                                               sortName = "name",
                                               sortType = (ViewBag.SortType == null || ViewBag.SortType == Warehouse.Common.ENUM.SORT_TYPE.Ascending)
                                                ? Warehouse.Common.ENUM.SORT_TYPE.Descending
                                                 : Warehouse.Common.ENUM.SORT_TYPE.Ascending,
                                               page = Request.QueryString["page"] })" class="select-list dropdown-item sort">
                            @Warehouse.Language.Shared.Index.NameAToZ
                        </a>
                        <a rel="nofollow" href="@Url.Action("Index", new {
                                               aliasCategory = Url.RequestContext.RouteData.Values["aliasCategory"],
                                               productListView = Request.QueryString["productListView"],
                                               sortName = "name",
                                               sortType = (ViewBag.SortType == null || ViewBag.SortType == Warehouse.Common.ENUM.SORT_TYPE.Ascending)
                                                ? Warehouse.Common.ENUM.SORT_TYPE.Descending
                                                 : Warehouse.Common.ENUM.SORT_TYPE.Ascending,
                                               page = Request.QueryString["page"]})" class="select-list dropdown-item sort">
                            @Warehouse.Language.Shared.Index.NameZToA
                        </a>
                        <a rel="nofollow" href="@Url.Action("Index", new {
                                               aliasCategory = Url.RequestContext.RouteData.Values["aliasCategory"],
                                               productListView = Request.QueryString["productListView"],
                                               sortName = "price",
                                               sortType = (ViewBag.SortType == null || ViewBag.SortType == Warehouse.Common.ENUM.SORT_TYPE.Ascending)
                                                ? Warehouse.Common.ENUM.SORT_TYPE.Descending
                                                 : Warehouse.Common.ENUM.SORT_TYPE.Ascending,
                                               page = Request.QueryString["page"]})" class="select-list dropdown-item sort">
                            @Warehouse.Language.Shared.Index.PriceIncreases
                        </a>
                        <a rel="nofollow" href="@Url.Action("Index", new {
                                               aliasCategory = Url.RequestContext.RouteData.Values["aliasCategory"],
                                               productListView = Request.QueryString["productListView"],
                                               sortName = "price",
                                               sortType = (ViewBag.SortType == null || ViewBag.SortType == Warehouse.Common.ENUM.SORT_TYPE.Ascending)
                                                ? Warehouse.Common.ENUM.SORT_TYPE.Descending
                                                 : Warehouse.Common.ENUM.SORT_TYPE.Ascending,
                                               page = Request.QueryString["page"]})" class="select-list dropdown-item sort">
                            @Warehouse.Language.Shared.Index.PriceDecreases
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

