@using PagedList;
@using PagedList.Mvc;
@using Warehouse.Models;
@model IPagedList<GridProductViewModel>

@Html.Partial("_FilterPartial")
<div id="">
    <div id="facets-loader-icon">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div id="js-product-list">
        <div class="products row products-list">
            @foreach (var product in Model)
            {
                <div class="js-product-miniature-wrapper col-12">
                    <article class="product-miniature product-miniature-default product-miniature-list js-product-miniature" data-id-product="87" data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
                        <div class="row medium-gutters product-miniature-list-row">
                            <div class="col-12 col-sm-3">
                                <div class="thumbnail-container">
                                    <a href="@Url.Action("Details","Product",new { alias = product.Alias })" class="thumbnail product-thumbnail"><img data-src="https://iqit-commerce.com/ps17/289-home_default/printed-summer-dress.jpg" src="https://iqit-commerce.com/ps17/289-home_default/printed-summer-dress.jpg" alt="" data-full-size-image-url="https://iqit-commerce.com/ps17/289-thickbox_default/printed-summer-dress.jpg" width="350" height="452" class="img-fluid js-lazy-product-image product-thumbnail-first loaded" data-was-processed="true"><img src="https://iqit-commerce.com/ps17/290-home_default/printed-summer-dress.jpg" data-src="https://iqit-commerce.com/ps17/290-home_default/printed-summer-dress.jpg" width="350" height="452" alt=" 2" class="img-fluid js-lazy-product-image product-thumbnail-second loaded" data-was-processed="true"></a>
                                    <ul class="product-flags">
                                        <li class="product-flag" style="background:@product.FlagColor">
                                            @product.ProductFlag
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-description">
                                <h3 class="h3 product-title" itemprop="name">
                                    <a href="@Url.Action("Details","Product",new { alias = product.Alias })">@product.Name</a>
                                </h3>
                            </div>
                            <div class="col-12 col-sm-auto col-buy">
                                <div class="product-price-and-shipping" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="USD">
                                    <span itemprop="price" class="product-price">@(Warehouse.Common.Format.FormatCurrencyVND(product.Price))</span>
                                </div>
                                <div class="product-add-cart">
                                    <div class="input-group input-group-add-cart">
                                        <input type="number" name="qty" value="1" class="input-group form-control input-qty" min="1" />
                                        <a href="@Url.Action("Add","ShoppingCart",new { Id = product.Id })" class="btn btn-product-list add-to-cart" data-toggle="modal" data-target="#blockcart-modal">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i> Thêm vào giỏ
                                        </a>
                                    </div>
                                </div>
                                <div class="product-functional-buttons product-functional-buttons-bottom">
                                    <div class="product-functional-buttons-links">
                                        <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-toggle="tooltip" title="" data-original-title="Thêm sản phẩm yêu thích" onclick="Fav(@product.Id)">
                                            <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                        </a>
                                        <<a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-toggle="tooltip" title="" data-original-title="So sánh" onclick="Compare(@product.Id)">
                                            <i class="fa fa-random" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("_ContentQuickViewModal","Product",new { Id = product.Id })" data-toggle="modal" data-target="#quickview-modal">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            }
        </div>
        <nav class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, productListView = "list", sortName = ViewBag.sortName, curentpage = ViewBag.sortType }),
                new PagedListRenderOptions() { ContainerDivClasses = new string[] { "pagination" },
                    UlElementClasses = new string[] { "page-list clearfix text-center" },
                    LiElementClasses = new string[] { "page-list clearfix text-center" },
                    Display = PagedListDisplayMode.Always, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded } )
        </nav>
    </div>
</div>

