@model DetailsProductViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "product";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-product tax-display-disabled product-id-88 product-leather-bag product-id-category-18 product-id-manufacturer-30 product-id-supplier-1 product-available-for-order body-desktop-header-style-w-4 ";
}
@section styles
{
}

@section meta
{
    @*<meta property="og:url" content="@Request.Url.ToString()" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@Model.Name" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="@Model.ImageCustom" />*@
}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1932380583495333&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <nav data-depth="4" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">Trang chủ</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Url.Action("Index",new { aliasCategory = Model.Category.Id })">
                            <span itemprop="name">@Model.Category.Name</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <div id="product-preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div id="main-product-wrapper" itemscope itemtype="https://schema.org/Product">
                <div class="row product-info-row">
                    <div class="col-md-4 col-product-image">
                        <section class="page-content" id="content">
                            <div class="images-container images-container-bottom">
                                <div class="product-cover">
                                    <ul class="product-flags">
                                        <li class="product-flag" style="background:@Model.FlagColor">@Model.ProductFlag</li>
                                    </ul>
                                    <a class="expander" data-toggle="modal" data-target="#product-modal"><span><i class="fa fa-expand" aria-hidden="true"></i></span></a>

                                    <div id="product-images-large" class="product-images-large slick-slider">
                                        @foreach (var product in Model.imagesProducts.OrderBy(i => i.OrderNum)) {
                                            <div>
                                                <div class="easyzoom easyzoom-product">
                                                    <a href="~/Photos/Products/slide/@product.Image" class="js-easyzoom-trigger"></a>
                                                </div>
                                                <img src="@Url.Content(@Url.Content("~/Photos/Products/slide/" + product.Image))" alt="" title="" itemprop="image"  class="img-fluid">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="js-qv-mask mask">

                                    <div id="product-images-thumbs" class="product-images js-qv-product-images slick-slider">
                                        @foreach (var product in Model.imagesProducts) {
                                            <div class="thumb-container">
                                                <img class="thumb js-thumb  selected img-fluid"
                                                     data-image-medium-src="@Url.Content(@Url.Content("~/Photos/Products/slide/" + product.Image))"
                                                     data-image-large-src="@Url.Content(@Url.Content("~/Photos/Products/slide/" + product.Image))"
                                                     src="@Url.Content(@Url.Content("~/Photos/Products/slide/" + product.Image))"
                                                     alt=""
                                                     title=""
                                                     width="100"
                                                     height="auto"
                                                     itemprop="image">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="after-cover-tumbnails text-center">
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 col-product-info">
                        <div class="product_header_container clearfix">

                            <h1 class="h1"><a href="@Url.Action("Details","Product",new { alias = Model.Alias })">@Model.Name</a></h1>
                            <div class="product-prices">
                                <div class=""
                                     itemprop="offers"
                                     itemscope
                                     itemtype="https://schema.org/Offer">
                                    <link itemprop="availability" href="https://schema.org/PreOrder" />
                                    <div>
                                        <span itemprop="price" class="product-price">@(Warehouse.Common.Format.FormatCurrencyVND(Model.Price))</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-information">
                            <div id="product-description-short-87" itemprop="description" class="rte-content">
                                <p>@Model.Description</p>
                            </div>
                            <div class="product-actions">
                                <form action="#" method="post" id="add-to-cart-or-refresh">

                                    @Html.AntiForgeryToken()
                                    <div class="product-add-to-cart pt-3">
                                        <div class="row extra-small-gutters product-quantity">
                                            <div class="col col-12 col-sm-auto">
                                                <div class="qty">
                                                    <input type="number"
                                                           name="qty"
                                                           id="quantity_wanted"
                                                           value="1"
                                                           class="input-group"
                                                           min="1">
                                                </div>
                                            </div>
                                            <div class="col col-12 col-sm-auto">
                                                <div class="add">
                                                    <a href="@Url.Action("Add","ShoppingCart",new { id = Model.Id })" data-toggle="modal" data-target="#blockcart-modal" class="btn btn-primary btn-lg add-to-cart">
                                                        <i class="fa fa-shopping-bag fa-fw bag-icon" aria-hidden="true"></i>
                                                        <i class="fa fa-circle-o-notch fa-spin fa-fw spinner-icon" aria-hidden="true"></i>
                                                        Thêm vảo giỏ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to wishlist"
                                                        class="btn btn-secondary btn-lg btn-iconic btn-iqitwishlist-add js-iqitwishlist-add" data-animation="false" id="iqit-wishlist-product-btn"
                                                        data-id-product="87"
                                                        data-id-product-attribute="0"
                                                        data-url="//iqit-commerce.com/ps17/en/module/iqitwishlist/actions">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i>
                                                    <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to compare"
                                                        class="btn btn-secondary btn-lg btn-iconic btn-iqitcompare-add js-iqitcompare-add" data-animation="false" id="iqit-compare-product-btn"
                                                        data-id-product="87"
                                                        data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions">
                                                    <i class="fa fa-random not-added" aria-hidden="true"></i><i class="fa fa-check added"
                                                                                                                aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="product-minimal-quantity"></p>
                                    </div>
                                    <div class="quickview-product-additional-info">
                                        <div class="social-sharing">
                                            <ul>
                                                <li class="facebook">
                                                    <a href="http://www.facebook.com/sharer.php?u=@(Request.Url)" title="Share" target="_blank">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="twitter">
                                                    <a href="https://twitter.com/intent/tweet?text=@Model.Name @(Request.Url)" title="Tweet" target="_blank">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="googleplus">
                                                    <a href="https://plus.google.com/share?url=@Request.Url" title="Google+" target="_blank">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="http://www.pinterest.com/pin/create/button/?media=@(Model.FullUrlImage)&amp;url=@(Request.Url)" title="Pinterest" target="_blank">
                                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2 sidebar product-sidebar">
                            <div id="iqithtmlandbanners-block-1" class="col col-md block block-toggle block-iqithtmlandbanners-html js-block-toggle">
                                <h5 class="block-title"><span>custom html</span></h5>
                                <div class="block-content rte-content">
                                    <p>you can configure this block in <strong>iqithtmlbanners</strong> module. It is hooked in displayRightColumnProduct hook. <br /><br /> To disable entire area go to iqitthemeeditor module &gt; Content/Pages &gt; Product page and set hidden for Right sidebar option</p>
                                </div>
                            </div>
                            <div id="iqithtmlandbanners-block-2" class="col col-md block block-toggle block-iqithtmlandbanners-html js-block-toggle">
                                <h5 class="block-title"><span>Custom html</span></h5>
                                <div class="block-content rte-content">
                                    <p>you can configure this block in <strong>iqithtmlbanners</strong> module. It is hooked in displayRightColumnProduct hook. <br /><br />To disable entire area go to iqitthemeeditor module &gt; Content/Pages &gt; Product page and set hidden for Right sidebar option</p>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="tabs product-tabs">
                    <ul id="product-infos-tabs" class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab"
                               href="#description">
                                Mô tả sản phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#content">
                                Thông tin chi tiết
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#extra-0">Nhận xét</a>
                        </li>
                    </ul>
                    <div id="product-infos-tabs-content" class="tab-content">
                        <div class="tab-pane in active" id="description">
                            <div class="product-description">
                                <div class="rte-content">
                                    @Model.Description
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane "
                             id="content">
                            <div id="product-details" class="clearfix">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                        <div class="tab-pane  in " id="extra-0">
                            <div id="iqit-reviews">
                                <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="600" data-numposts="20"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iqit-accordion" id="product-infos-accordion-mobile" role="tablist" aria-multiselectable="true"></div>
            </div>
            <section class="category-products block block-section">
                <h4 class="section-title">
                    <span>
                        Các sản phẩm liên quan:
                    </span>
                </h4>
                <div class="block-content">
                    <div class="products slick-products-carousel products-grid slick-default-carousel slick-arrows-middle">

                        @foreach (var productrelated in ViewBag.productsRelated) {
                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="94"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">
                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="@Url.Content(@Url.Content("~/Photos/Products/" + productrelated.Image))"
                                                 alt=""
                                                 data-full-size-image-url="@Url.Content(@Url.Content("~/Photos/Products/" + productrelated.Image))"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">
                                        </a>
                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>
                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-description-inner">
                                            <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html" class="product-overlay-link"></a>
                                            <div class="product-category-name text-muted">Accessories</div>
                                            <h3 class="h3 product-title" itemprop="name">
                                                <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html">copy of Printed Summer Dress</a>
                                            </h3>
                                            <div class="product-brand text-muted">Antara</div>
                                            <div class="product-reference text-muted">demo_6</div>
                                            <div class="product-price-and-shipping"
                                                 itemprop="offers"
                                                 itemscope
                                                 itemtype="https://schema.org/Offer">
                                                <meta itemprop="priceCurrency" content="USD">
                                                <span itemprop="price" class="product-price"
                                                      content="30.5">30,50 USD</span>
                                            </div>
                                            <div class="product-description-short text-muted">
                                                Sleeveless knee-length chiffon dress. V-neckline with elastic under the bust lining.
                                            </div>
                                            <div class="product-add-cart">
                                                <form action="/ps17/demo11/pl/koszyk?add=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" method="post">
                                                    <input type="hidden" name="id_product" value="94">
                                                    <div class="input-group input-group-add-cart">
                                                        <input type="number"
                                                               name="qty"
                                                               value="1"
                                                               class="input-group form-control input-qty"
                                                               min="1">
                                                        <button class="btn btn-product-list add-to-cart"
                                                                data-button-action="add-to-cart"
                                                                type="submit">
                                                            <i class="fa fa-shopping-bag"
                                                               aria-hidden="true"></i> Dodaj do koszyka
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="product-functional-buttons product-functional-buttons-overlay">
                                                <div class="product-functional-buttons-links">
                                                    <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="94" data-id-product-attribute="0"
                                                       data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                        <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="94"
                                                       data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                        <i class="fa fa-random" aria-hidden="true"></i>
                                                    </a>

                                                    <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                       title="Szybki podgląd">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        }

                        @*<div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="88"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">
                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/88-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="https://iqit-commerce.com/ps17/demo11/293-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/293-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="https://iqit-commerce.com/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="https://iqit-commerce.com/ps17/demo11/292-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="88" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="88"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="89"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/89-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="https://iqit-commerce.com/ps17/demo11/297-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="https://iqit-commerce.com/ps17/demo11/297-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="https://iqit-commerce.com/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="https://iqit-commerce.com/ps17/demo11/295-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="89" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="89"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="90"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/90-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="/Content/ps17/demo11/301-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/301-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="/Content/ps17/demo11/302-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="90" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="90"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="92"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/92-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="/Content/ps17/demo11/317-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/317-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="/Content/ps17/demo11/315-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="92" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="92"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="93"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/93-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="/Content/ps17/demo11/325-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/325-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="/Content/ps17/demo11/322-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="93" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="93"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="96"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/96-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="/Content/ps17/demo11/349-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/349-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="/Content/ps17/demo11/343-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="96" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="96"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                         data-id-product="95"
                                         data-id-product-attribute="0"
                                         itemscope itemtype="http://schema.org/Product">

                                    <div class="thumbnail-container">
                                        <a href="/ps17/demo11/pl/accessories/95-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                            <img src="/Content/ps17/demo11/341-home_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 data-full-size-image-url="/ps17/demo11/341-thickbox_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 class="img-fluid   product-thumbnail-first">

                                            <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                                 data-src="/Content/ps17/demo11/336-home_default/printed-summer-dress.jpg"
                                                 width="350"
                                                 height="452"
                                                 alt=" 2"
                                                 class="img-fluid js-lazy-product-image product-thumbnail-second">
                                        </a>

                                        <ul class="product-flags">
                                            <li class="product-flag new">
                                                Nowy
                                            </li>
                                        </ul>

                                        <div class="product-functional-buttons product-functional-buttons-bottom">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="95" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="95"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="product-availability">
                                            <span class="badge product-available mt-2">Available</span>
                                        </div>
                                    </div>
                                </article>
                            </div>*@
                    </div>
                </div>
            </section>
            <div class="modal fade js-product-images-modal" id="product-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">Tap to zoom</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="easyzoom easyzoom-modal">
                                <a href="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg" class="js-modal-product-cover-easyzoom">
                                    <img class="js-modal-product-cover product-cover-modal img-fluid"
                                         width="1100"
                                         alt="" title="">
                                </a>
                            </div>
                            <aside id="thumbnails" class="thumbnails js-thumbnails text-xs-center">

                                <div class="js-modal-mask mask  nomargin ">
                                    <div id="modal-product-thumbs" class="product-images js-modal-product-images slick-slider">
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/289-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/290-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/290-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/291-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/291-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>