@model DetailsProductViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "product";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-product tax-display-disabled product-id-88 product-leather-bag product-id-category-18 product-id-manufacturer-30 product-id-supplier-1 product-available-for-order body-desktop-header-style-w-4 ";
}
@section styles
{
}

@section meta
{

}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1932380583495333&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <nav data-depth="4" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                    </li>
                    @if (ViewBag.CategoryParent != null)
                    {
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="@Url.Action("Index", new { aliasCategory = ViewBag.CategoryParent.Alias_SEO })">
                                <span itemprop="name">@ViewBag.CategoryParent.Name</span>
                            </a>
                        </li>
                    }
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Url.Action("Index",new { aliasCategory = Model.Category.Id })">
                            <span itemprop="name">@Model.Category.Name</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <div id="product-preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div id="main-product-wrapper" itemscope itemtype="https://schema.org/Product">
                <div class="row product-info-row">
                    <div class="col-md-4 col-product-image">
                        <section class="page-content" id="content">
                            <div class="images-container images-container-bottom">
                                <div class="product-cover">
                                    <ul class="product-flags">
                                        <li class="product-flag" style="background:@Model.FlagColor">@Model.ProductFlag</li>
                                    </ul>

                                    <div id="product-images-large" class="product-images-large slick-slider">
                                        @foreach (var product in Model.imagesProducts.OrderBy(i => i.OrderNum))
                                        {
                                            <div>
                                                <div>
                                                    <a href="~/Photos/Products/slide/@product.Image"></a>
                                                </div>
                                                <img src="@Url.Content("~/Photos/Products/slide/" + product.Image)" alt="" title="" itemprop="image" class="img-fluid">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="js-qv-mask mask">

                                    <div id="product-images-thumbs" class="product-images js-qv-product-images slick-slider">
                                        @foreach (var product in Model.imagesProducts)
                                        {
                                            <div class="thumb-container">
                                                <img class="thumb js-thumb  selected img-fluid"
                                                     src="@Url.Content("~/Photos/Products/slide/" + product.Image)"
                                                     alt=""
                                                     title=""
                                                     width="100"
                                                     height="auto"
                                                     itemprop="image">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                    <div class="col-md-6 col-product-info">
                        <div class="product_header_container clearfix">

                            <h1 class="h1 page-title"><a href="@Url.Action("Details","Product",new { alias = Model.Alias })">@Model.Name</a></h1>
                            <div class="product-prices">
                                <div>
                                    <span class="product-price">@(Warehouse.Common.Format.FormatCurrencyVND(Model.Price))</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-information">
                            <div class="rte-content">
                                <p>@Model.Description</p>
                            </div>
                            <div class="product-actions">
                                @Html.AntiForgeryToken()
                                <div class="product-add-to-cart pt-3">
                                    <div class="row extra-small-gutters product-quantity">
                                        <div class="col col-12 col-sm-auto">
                                            <div class="add">
                                                <a href="@Url.Action("Add","ShoppingCart",new { id = Model.Id })" title="@Warehouse.Language.ShoppingCart.Index.AddToCart" data-toggle="modal" data-target="#blockcart-modal" class="btn btn-primary btn-lg add-to-cart">
                                                    <i class="fa fa-shopping-bag fa-fw bag-icon" aria-hidden="true"></i>
                                                    <i class="fa fa-circle-o-notch fa-spin fa-fw spinner-icon" aria-hidden="true"></i>
                                                    @Warehouse.Language.ShoppingCart.Index.AddToCart
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col col-sm-auto">
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="@Warehouse.Language.Product.Index.AddFavorite"
                                                    class="btn btn-secondary btn-lg btn-iconic btn-iqitwishlist-add js-iqitwishlist-add" data-animation="false" id="iqit-wishlist-product-btn">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i>
                                                <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="col col-sm-auto">
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="@Warehouse.Language.Header.Header.Compare"
                                                    class="btn btn-secondary btn-lg btn-iconic btn-iqitcompare-add js-iqitcompare-add" data-animation="false" id="iqit-compare-product-btn"
                                                    data-id-product="@Model.Id"
                                                    data-url="#">
                                                <i class="fa fa-random not-added" aria-hidden="true"></i>
                                                <i class="fa fa-check added" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="product-minimal-quantity"></p>
                                </div>
                                <div class="quickview-product-additional-info">
                                    <div class="social-sharing">
                                        <ul>
                                            <li class="facebook">
                                                <a href="http://www.facebook.com/sharer.php?u=@(Request.Url)" title="Share" target="_blank">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/intent/tweet?text=@Model.Name @(Request.Url)" title="Tweet" target="_blank">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="googleplus">
                                                <a href="https://plus.google.com/share?url=@Request.Url" title="Google+" target="_blank">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="pinterest">
                                                <a href="http://www.pinterest.com/pin/create/button/?media=@(Model.FullUrlImage)&amp;url=@(Request.Url)" title="Pinterest" target="_blank">
                                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs product-tabs">
                    <ul id="product-infos-tabs" class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab"
                               href="#description">
                                @Warehouse.Language.Product.Index.Description
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#contentProduct">
                                @Warehouse.Language.Product.Index.InformationDetails
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#extra-0">@Warehouse.Language.Product.Index.Comment</a>
                        </li>
                    </ul>
                    <div id="product-infos-tabs-content" class="tab-content">
                        <div class="tab-pane in active" id="description">
                            <div class="product-description">
                                <div class="rte-content">
                                    @Model.Description
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane in" id="contentProduct">
                            <div id="product-details" class="clearfix">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                        <div class="tab-pane in" id="extra-0">
                            <div id="iqit-reviews">
                                <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="600" data-numposts="20"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iqit-accordion" id="product-infos-accordion-mobile" role="tablist" aria-multiselectable="true"></div>
            </div>
            <section class="category-products block block-section">
                <h4 class="section-title">
                    <span>
                        @Warehouse.Language.Product.Index.RelatedProducts.ToUpperInvariant()
                    </span>
                </h4>
                <div class="block-content">
                    <div class="products slick-products-carousel products-grid slick-default-carousel slick-arrows-middle">

                        @foreach (GridProductViewModel productrelated in ViewBag.productsRelated)
                        {
                            <div class="js-product-miniature-wrapper product-carousel ">
                                <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-1 js-product-miniature">
                                    <div class="thumbnail-container">
                                        <a href="@Url.Action("Details",new { alias = productrelated.Alias })" class="thumbnail product-thumbnail">
                                            <img data-src="@productrelated.FullUrlImage" src="@productrelated.FullUrlImage" alt="" data-full-size-image-url="@productrelated.ZoomImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid js-lazy-product-image product-thumbnail-first loaded" data-was-processed="true" />

                                            @if (productrelated.SecondImage != null)
                                            {
                                                <img data-src="@productrelated.FullUrlSecondImage" src="@productrelated.FullUrlSecondImage" alt="" data-full-size-image-url="@productrelated.ZoomSecondImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid js-lazy-product-image product-thumbnail-second loaded" data-was-processed="true" />
                                            }
                                        </a>
                                        <ul class="product-flags">
                                            <li class="product-flag" style="background:@productrelated.FlagColor">
                                                @productrelated.ProductFlag
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-description">
                                        <div class="product-description-inner">
                                            <a href="@Url.Action("Details",new { alias = productrelated.Alias })" class="product-overlay-link"></a>
                                            <h3 class="h3 product-title" itemprop="name">
                                                <a href="@Url.Action("Details",new { alias = productrelated.Alias })">@productrelated.Name</a>
                                            </h3>
                                            <div class="product-price-and-shipping">
                                                <span class="product-price">@Warehouse.Common.Format.FormatCurrencyVND(productrelated.Price)</span>
                                            </div>
                                            <div class="product-add-cart">
                                                <input type="hidden" name="id_product" value="94">
                                                <div class="input-group input-group-add-cart">
                                                    <a href="@Url.Action("Add","ShoppingCart",new { Id = productrelated.Id })" class="btn btn-product-list add-to-cart" data-toggle="modal" data-target="#blockcart-modal">
                                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> @Warehouse.Language.ShoppingCart.Index.AddToCart
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-functional-buttons product-functional-buttons-overlay">
                                                <div class="product-functional-buttons-links">
                                                    <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add"
                                                       data-toggle="tooltip" title="@Warehouse.Language.Shared.Index.AddFavoriteProduct">
                                                        <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" class="btn-iqitcompare-add js-iqitcompare-add"
                                                       data-toggle="tooltip" title="@Warehouse.Language.Header.Header.Compare">
                                                        <i class="fa fa-random" aria-hidden="true"></i>
                                                    </a>

                                                    <a class="js-quick-view-iqit" href="@Url.Action("_ContentQuickViewModal","Product",new { Id = productrelated.Id })" data-toggle="modal" data-target="#quickview-modal"
                                                       title="@Warehouse.Language.Product.Index.QuickView">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        }
                    </div>
                </div>
            </section>
            <!-- /.modal -->
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>