@model List<Product>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
}

<div class="content-section">
    <div class="container">
        @if (Model.Count == 0) {
            <div class="alert alert-info">
                <h3>Không tìm thấy kết quả</h3>
            </div>
        }
        else {
            <div class="row">
                <div class="col-lg-12 section-title">
                    <h2>Kết quả tìm kiếm</h2>
                </div> <!-- /.section -->
            </div> <!-- /.row -->
            <div class="row list" id="result">
                @foreach (var item in Model) {
                    <div class="col-md-3 col-xs-6 col-sm-4  divItem">
                        <div class="product-item-vote">
                            <div class="product-thumb">
                                <a href="@Url.Action("Details","Product",new { Alias =  item.Alias_SEO})">
                                    <img src="@item.ImageCustom" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" title="@item.Name" data-toggle="tooltip" data-placement="bottom">
                                </a>
                            </div> <!-- /.product-thum -->
                            <div class="product-content">
                                <div class="divName">
                                    <h5 data-toggle="tooltip" data-placement="bottom" title="@item.Name"><a href="@Url.Action("Details","Product",new { Alias =  item.Alias_SEO})">@(item.Name)</a></h5>
                                </div>
                                <span class="price">@(item.PriceThuc.ToString("#,##0").Replace(',', '.')) <sup>đ</sup> </span>
                                <ul class="progess-bars">
                                    <li>
                                        <div class="progress">
                                            <div data-toggle="tooltip" title="Lượt thích" class="progress-bar" role="progressbar" aria-valuenow="@item.Likes" aria-valuemin="0" style="width: @(30 + item.Likes)%;max-width:70% "></div>
                                            <span>@item.Likes <i class="fa fa-thumbs-up"></i> </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <div data-toggle="tooltip" title="Lượt yêu thích" class="progress-bar comments" role="progressbar" aria-valuenow="@item.LoveTurns" aria-valuemin="0" style="width: @(30 + item.LoveTurns)%;max-width:70%"></div>
                                            <span class="comments">@item.LoveTurns<i class="fa fa-heart"></i></span>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- /.product-content -->
                        </div> <!-- /.product-item-vote -->
                    </div> <!-- /.col-md-3 -->
                }
            </div> <!-- /.row -->
        }
    </div> <!-- /.container -->
</div> <!-- /.content-section -->
