
@{
    ViewBag.Title = "Sản phẩm theo nhóm " + ViewBag.Name.ToString().ToLower();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(function () {
        $("#frmPhanTrang input[name=page]").val(1);
        $("#frmPhanTrang").submit(function (e) {
            var page = Number($("#frmPhanTrang input[name=page]").val());          
            $("#frmPhanTrang input[name=page]").val(page + 1);
        });
        function OnFailure(response) {
            alert(response);
        }
       
        if (window.innerWidth > 800) {
            $(".top-header").attr("data-spy", "affix").attr("data-offset-top", "200").css("z-index", "100").css("width", "100%").css("background", "#fff");
        }
    })
</script>
}
<div class="content-section">
    <div class="container">
        @if(Model.Count == 0)
        {
            <div class="alert alert-info">
                <h3>Sản phẩm đang cập nhật</h3>
            </div>
        }
        else
        { 
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 section-title">
                <h2 style="text-transform:uppercase">@ViewBag.Name</h2>
            </div> <!-- /.section -->
            <div class="col-lg-9 col-md-8 col-sm-7 text-right">
                <label><a href="@Url.Action("SPTheoNhom", new { GroupProductID = Url.RequestContext.RouteData.Values["GroupProductID"].ToString(), sort = "GiaTangDan" })"> Sắp xếp giá tăng dần</a> |</label>
                <label>
                    <a href="@Url.Action("SPTheoNhom", new { GroupProductID = Url.RequestContext.RouteData.Values["GroupProductID"].ToString(), sort = "GiaGiamDan" })">Sắp xếp giá giảm dần</a> |
                </label>

            </div>
        </div> <!-- /.row -->
        <div class="row list">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-xs-6 col-sm-4 divItem">
                    <div class="product-item-vote">
                        <div class="product-thumb">
                            <a href="@Url.Action("Details","Product",new {id = @item.Id, Alias =  item.Alias})">
                                <img src="~/Photos/Product/@item.Avatar" title="@item.Name" data-toggle="tooltip" data-placement="bottom">
                            </a>
                        </div> <!-- /.product-thum -->
                        <div class="product-content">
                            <div class="divName">
                                <h5 data-toggle="tooltip" data-placement="bottom" title="@item.Name"><a href="@Url.Action("Details","Product",new {id = @item.Id, Alias =  item.Alias})">@(item.Name)</a></h5>
                            </div>
                            <span class="price">@(item.PriceThuc.ToString("#,##0").Replace(',','.')) <sup>đ</sup> </span>
                            <ul class="progess-bars">
                                <li>
                                    <div class="progress">
                                        <div data-toggle="tooltip" title="Lượt thích" class="progress-bar" role="progressbar" aria-valuenow="@item.Likes" aria-valuemin="0" style="width: @(30 + item.Likes)%;max-width:70% "></div>
                                        <span>@item.Likes <i class="fa fa-thumbs-up"></i> </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="progress">
                                        <div data-toggle="tooltip" title="Lượt yêu thích" class="progress-bar comments" role="progressbar" aria-valuenow="@item.LoveTurns" aria-valuemin="0" style="width: @(30 + item.LoveTurns)%;max-width:70%"></div>
                                        <span class="comments">@item.LoveTurns<i class="fa fa-heart"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item-vote -->
                </div> <!-- /.col-md-3 -->
            }
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img id="ajax-loader" style="display:none" src="~/images/ajax-loader.gif" />
            </div>
            <div>&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                @using (Ajax.BeginForm("_PhanTrangPartial", "Product", new AjaxOptions() { HttpMethod = "Get", LoadingElementId = "ajax-loader", UpdateTargetId = "result", LoadingElementDuration = 1000, InsertionMode = InsertionMode.InsertAfter, OnFailure = "OnFailure" }, new { method = "get", id = "frmPhanTrang" }))
                {
                    <input type="hidden" name="filterName" value="GroupProduct" />
                    <input type="hidden" name="filterValue" value="@Url.RequestContext.RouteData.Values["GroupProductID"]" />
                    <input type="hidden" name="sort" value="@Url.RequestContext.RouteData.Values["sort"]">
                    <input type="hidden" name="page" value="1" />
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Tải thêm...</button>
                }
            </div>
        </div>
        }
    </div> <!-- /.container -->
</div> <!-- /.content-section -->


