@using Warehouse.Models.Order
@model OrderViewModel
@{
    ViewBag.Title = Warehouse.Language.ShoppingCart.Index.Checkout;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "checkout";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-order tax-display-disabled body-desktop-header-style-w-4";
}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/"><span itemprop="name">@Warehouse.Language.Header.Header.Home</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url"><span itemprop="name">@ViewBag.Title</span></a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1><div class="row">
                <div class="col-md-8">
                    <section class="checkout-step -current -reachable js-current-step">
                        <h1 class="step-title h3">
                           @Warehouse.Language.ShoppingCart.Index.OrderInformation
                        </h1>
                        <div class="content">
                            <div class="js-address-form">
                                @using (Html.BeginForm("Checkout", "Order", FormMethod.Post))
                                {
                                    <div id="delivery-address">
                                        <div class="js-address-form">
                                            <section class="form-fields">
                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.FullName
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.Phone
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m => m.Email)
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-2 form-control-comment"></div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.Address
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.City
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("ProvinceId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("ProvinceId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.District
                                                    </label>
                                                    <div class="col-md-8" id="Districts">
                                                        @Html.DropDownList("DistrictId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("DistrictId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.Ward
                                                    </label>
                                                    <div class="col-md-8" id="Wards">
                                                        @Html.DropDownList("WardId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("WardId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Warehouse.Language.Shared.Index.Note
                                                    </label>
                                                    <div class="col-md-8" id="Wards">
                                                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Note, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                            </section>
                                            <footer class="form-footer text-center clearfix">
                                                <button type="submit" class="continue btn btn-primary btn-block btn-lg" >
                                                    @Warehouse.Language.ShoppingCart.Index.Checkout
                                                </button>
                                            </footer>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 cart-grid-right">
                    <section id="js-checkout-summary" class="card cart-summary js-cart" data-refresh-url="#">
                        <div class="card-block">
                            <div class="cart-summary-products">
                                <div>
                                    @Model.TotalQuantity @Warehouse.Language.Product.Index.Product.ToLower()
                                    <a href="#" data-toggle="collapse" class="text-muted pull-right" data-target="#cart-summary-product-list">
                                        @Warehouse.Language.ShoppingCart.Index.ShowDetails <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="collapse" id="cart-summary-product-list">
                                    <ul class="media-list">
                                        @foreach (CartItem cartItem in Session["ShoppingCart"] as List<CartItem>)
                                        {
                                        <li class="media cart-summary-product">
                                            <div class="media-left mr-3 align-self-center">
                                                <a href="@Url.Action("Details","Product",new { alias = cartItem.Alias })" title="@cartItem.Name">
                                                    <img class="media-object img-fluid" src="@cartItem.FullUrlImage" alt="@cartItem.Name">
                                                </a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="@Url.Action("Details","Product",new { alias = cartItem.Alias })" title="@cartItem.Name">
                                                    <span class="product-name">@cartItem.Name</span>
                                                </a>
                                                <span class="pull-right">
                                                    <span class="product-quantity text-muted">x@(cartItem.Quantity)</span> @Warehouse.Common.Format.FormatCurrencyVND((int)cartItem.Subtotal)</span>
                                            </div>
                                        </li>
                                        }
                                    </ul>
                                    <div class="text-right">
                                        <a href="@Url.Action("Index","ShoppingCart")">
                                            <span class="step-edit">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> 
                                                @Warehouse.Language.Shared.Index.Edit
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-block">
                            <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-products">
                                <span class="label">@Warehouse.Language.ShoppingCart.Index.Total</span>
                                <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int)Model.TotalMoney))</span>
                            </div>
                        </div>  
                        <hr>
                       
                        <div class="card-block cart-summary-totals">
                            <div class="cart-summary-line cart-total">
                                <span class="label">@Warehouse.Language.ShoppingCart.Index.Total</span>
                                <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int?)Model.TotalMoney))</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
           $(document).on("change", "#ProvinceId", function (e) {
                $.post("@Url.Action("_GetDistrictByProvince","Location")", { ProvinceId: $(this).val() }, function (data) {
                    $("#Districts").html(data);
                    $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $("#DistrictId").val() }, function (data) {
                        $("#Wards").html(data);
                    });
                });
            });
            $(document).on("change", "#DistrictId", function (e) {
                $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $(this).val() }, function (data) {
                    $("#Wards").html(data);
                });
            });
        });
    </script>    
}