@using Warehouse.Models.Order
@model OrderViewModel
@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "checkout";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-order tax-display-disabled body-desktop-header-style-w-4";
}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://iqit-commerce.com/ps17/en/"><span itemprop="name">Trang chủ</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url"><span itemprop="name">@ViewBag.Title</span></a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside><div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1><div class="row">
                <div class="col-md-8">
                    <section class="checkout-step -current -reachable js-current-step">
                        <h1 class="step-title h3">
                           Thông Tin Đặt Hàng
                        </h1>
                        <div class="content">
                            <div class="js-address-form">
                                @using (Html.BeginForm("Checkout", "Order", FormMethod.Post))
                                {
                                    @*<p>
                                        Địa chỉ được chọn sẽ được dùng làm địa chỉ cá nhân của bạn (cho hóa đơn) và làm địa chỉ giao hàng của bạn.
                                    </p>*@
                                    <div id="delivery-address">
                                        <div class="js-address-form">
                                            <section class="form-fields">
                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m => m.Name)
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m => m.Phone)
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m => m.Email)
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-2 form-control-comment"></div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m => m.Address)
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        Tỉnh/Thành
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("ProvinceId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("ProvinceId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        Quận/Huyện
                                                    </label>
                                                    <div class="col-md-8" id="Districts">
                                                        @Html.DropDownList("DistrictId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("DistrictId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        Phường/Xã
                                                    </label>
                                                    <div class="col-md-8" id="Wards">
                                                        @Html.DropDownList("WardId", null, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessage("WardId", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center ">
                                                    <label class="col-md-2 col-form-label required">
                                                        @Html.DisplayNameFor(m=>m.Note)
                                                    </label>
                                                    <div class="col-md-8" id="Wards">
                                                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Note, null, new { @class = "text-danger" })
                                                    </div>

                                                    <div class="col-md-2 form-control-comment">
                                                    </div>
                                                </div>

                                            </section>
                                            <footer class="form-footer text-center clearfix">
                                                <button type="submit" class="continue btn btn-primary btn-block btn-lg" >
                                                    Đặt hàng
                                                </button>
                                            </footer>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 cart-grid-right">
                    <section id="js-checkout-summary" class="card cart-summary js-cart" data-refresh-url="https://iqit-commerce.com/ps17/en/cart?ajax=1&amp;action=refresh">
                        <div class="card-block">
                            <div class="cart-summary-products">
                                <div>
                                    @Model.TotalQuantity sản phẩm
                                    <a href="#" data-toggle="collapse" class="text-muted pull-right" data-target="#cart-summary-product-list">show details <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                </div>
                                <div class="collapse" id="cart-summary-product-list">
                                        <ul class="media-list">
                                            <li class="media cart-summary-product">
                                                <div class="media-left mr-3 align-self-center">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html" title="Leather bag"><img class="media-object img-fluid" src="https://iqit-commerce.com/ps17/297-small_default/printed-summer-dress.jpg" alt="Leather bag"></a>
                                                </div>
                                                <div class="media-body align-self-center"><a href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html" title="Leather bag"><span class="product-name">Leather bag</span></a><span class="pull-right"><span class="product-quantity text-muted">x1</span> $30.50</span></div>
                                            </li>
                                        </ul>
                                        <div class="text-right"><a href="//iqit-commerce.com/ps17/en/cart?action=show"><span class="step-edit"><i class="fa fa-pencil" aria-hidden="true"></i> edit</span></a></div>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-block">
                            <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-products"><span class="label">Tổng cộng</span><span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int)Model.TotalMoney))</span></div>
                            @*<div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-shipping"><span class="label">Phí vận chuyển</span><span class="value">@(Warehouse.Common.Format.FormatCurrencyVND(0))</span></div>*@
                        </div>
                        <hr>
                        @*<div class="block-promo">
                                <div class="cart-voucher">
                                    <div class="cart-voucher-area">
                                        <div class="promo-code" id="promo-code">
                                            <div class="alert alert-danger js-error" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span class="m-l-1 js-error-text"></span></div>
                                            <form action="https://iqit-commerce.com/ps17/en/cart" data-link-action="add-voucher" method="post" class="">
                                                <div class="input-group">
                                                    <i class="fa fa-tag btn voucher-icon" aria-hidden="true"></i>
                                                    <input type="hidden" name="token" value="3e8cee7ca4392af7040793adb7288b50">
                                                    <input type="hidden" name="addDiscount" value="1">
                                                    <input class="form-control" type="text" name="discount_name" placeholder="Mã giảm giá">
                                                    <button type="submit" class="btn btn-secondary">
                                                        <span>Áp dụng</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>*@
                        <div class="card-block cart-summary-totals">
                            <div class="cart-summary-line cart-total">
                                <span class="label">Tổng tiền</span>
                                <span class="value">@(Warehouse.Common.Format.FormatCurrencyVND((int?)Model.TotalMoney))</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
           $(document).on("change", "#ProvinceId", function (e) {
                $.post("@Url.Action("_GetDistrictByProvince","Location")", { ProvinceId: $(this).val() }, function (data) {
                    $("#Districts").html(data);
                    $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $("#DistrictId").val() }, function (data) {
                        $("#Wards").html(data);
                    });
                });
            });
            $(document).on("change", "#DistrictId", function (e) {
                $.post("@Url.Action("_GetWardByDistrict","Location")", { DistrictId: $(this).val() }, function (data) {
                    $("#Wards").html(data);
                });
            });
        });
    </script>    
}