@{ 
    string countProductsDisplay = Html.Action("CountDisplay", "Product").ToString();
    string countProductsHide = Html.Action("CountHide", "Product").ToString();
}
<section class="sidebar">
    <!-- Sidebar user panel -->
    @Html.Action("_UserPanelPartial", "AspNetUser")
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">TRANG QUẢN TRỊ</li>
        <li id="home">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Bảng điều khiển</span>
            </a>
        </li>
        
        <li>
            <a href="@Url.Action("Create","Product")">
                <i class="fa fa-plus"></i> <span>Thêm Sản Phẩm</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-red">new</small>
                </span>
            </a>
        </li>

        <li id="products">
            <a href="@Url.Action("Index","Product")">
                <i class="fa fa-users"></i>
                <span>Sản Phẩm</span>
                <span class="pull-right-container">
                    <span title="@countProductsHide sản phẩm đang ẩn" class="label label-warning pull-right">@countProductsHide</span>
                    <span title="@countProductsDisplay sản phẩm đang hiển thị" class="label label-success pull-right">@countProductsDisplay</span>
                </span>
            </a>
        </li>

        <li id="orders">
            <a href="@Url.Action("Index","Order")">
                <i class="fa fa-book"></i>
                <span>Đơn Hàng</span>
                <span class="pull-right-container">
                    <span data-placement="bottom" title="Có 3 đơn hàng bạn chưa xác nhận" class="label label-danger pull-right">5</span>
                </span>
            </a>
        </li>

        <li id="categories">
            <a href="@Url.Action("Index","Category")">
                <i class="fa fa-cogs"></i>
                <span>Phân Loại Sản Phẩm</span>
            </a>
        </li>

        <li id="users">
            <a href="@Url.Action("Index","AspNetUser")">
                <i class="fa fa-users"></i> <span>Thành Viên</span>
            </a>
        </li>

        <li id="slider">
            <a href="@Url.Action("Index","Slider")">
                <i class="fa fa-picture-o"></i> <span>Slider Giới Thiệu</span>
            </a>
        </li>

        <li id="subscribe">
            <a href="@Url.Action("Index","Subscribe")">
                <i class="fa fa-inbox"></i> <span>Email Theo Dõi</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Details","InfoShop",new {Id = 1 })">
                <i class="fa fa-info"></i> <span>Thông Tin Chung</span>
            </a>
        </li>

        <li class="header">QUẢN LÝ CÁ NHÂN</li>
        <li>
            <a href="@Url.Action("ProfileUser","User")">
                <i class="fa fa-user"></i> <span>Hồ Sơ Cá Nhân</span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        </li>
        @*<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
    </ul>
</section>
