@{ 
    string countProductsHide = Html.Action("CountHide", "Product").ToString();
    string countProductsDisplay = Html.Action("CountDisplay", "Product").ToString();
    string countBlogHide = Html.Action("CountHide", "Blog").ToString();
    string countBlogDisplay = Html.Action("CountDisplay", "Blog").ToString();
    string CountOrderWaitConfirm = Html.Action("CountOrderWaitConfirm", "Order").ToString();
}
<section class="sidebar">
    <!-- Sidebar user panel -->
    @Html.Action("_UserPanelPartial", "AspNetUser")
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">TRANG QUẢN TRỊ</li>
        <li id="home">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Bảng điều khiển</span>
            </a>
        </li>

        <li id="orders">
            <a href="@Url.Action("Index","Order")">
                <i class="fa fa-book"></i>
                <span>Đơn Hàng</span>
                @if (CountOrderWaitConfirm != "0") {
                    <span class="pull-right-container">
                        <span data-placement="bottom" title="Có @CountOrderWaitConfirm đơn hàng chờ xác nhận" class="label label-warning pull-right">@CountOrderWaitConfirm</span>
                    </span>
                }
            </a>
        </li>

        <li>
            <a href="@Url.Action("Create","Product")">
                <i class="fa fa-plus"></i> <span>Thêm Sản Phẩm</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-red">new</small>
                </span>
            </a>
        </li>

        <li id="products">
            <a href="@Url.Action("Index","Product")">
                <i class="fa fa-users"></i>
                <span>Sản Phẩm</span>
                <span class="pull-right-container">

                    @if (countProductsHide != "0")
                    {
                        <span title="@countProductsHide sản phẩm đang ẩn" class="label label-danger pull-right">@countProductsHide</span>
                    }
                    @if (countProductsDisplay != "0")
                    {
                        <span title="@countProductsDisplay sản phẩm đang hiện" class="label label-primary pull-right">@countProductsDisplay</span>
                    }
                </span>
            </a>
        </li>


        <li>
            <a href="@Url.Action("Index","Category")">
                <i class="fa fa-cubes"></i> <span>Phân Loại Sản Phẩm</span>
            </a>
        </li>

        <li id="slider">
            <a href="@Url.Action("Index","Blog")">
                <i class="fa fa-newspaper-o"></i> <span>Blog</span>
                <span class="pull-right-container">

                    @if (countBlogHide != "0") {
                        <span title="@countBlogHide bài viết đang ẩn" class="label label-danger pull-right">@countBlogHide</span>
                    }
                    @if (countBlogDisplay != "0") {
                        <span title="@countBlogDisplay bài viết đang hiện" class="label label-primary pull-right">@countBlogDisplay</span>
                    }
                </span>
            </a>
        </li>

        <li id="customers">
            <a href="@Url.Action("Customer","AspNetUser",new { customer = 1 })">
                <i class="fa fa-users"></i> <span>Khách Hàng</span>
            </a>
        </li>

        <li class="admin">
            <a href="@Url.Action("ListAdmin","AspNetUser")">
                <i class="fa fa-user-circle-o"></i> <span>Quản Trị Viên</span>
            </a>
        </li>

        <li id="slider">
            <a href="@Url.Action("Index","Slide")">
                <i class="fa fa-picture-o"></i> <span>Slide Hình</span>
            </a>
        </li>

        <li id="subscribe">
            <a href="@Url.Action("Index","SubscribeEmail")">
                <i class="fa fa-inbox"></i> <span>Email Nhận Tin</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index","Article")">
                <i class="fa fa-file-o"></i> <span>Bài Viết Thông tin</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Details","InfoShop",new {Id = 1 })">
                <i class="fa fa-info"></i> <span>Thông Tin Chung</span>
            </a>
        </li>

        <li>
            <a href="/" target="_blank">
                <i class="fa fa-globe"></i> <span>Xem Website</span>
            </a>
        </li>

        <li class="header">QUẢN LÝ CÁ NHÂN</li>
        <li>
            <a href="@Url.Action("ProfileUser","User")">
                <i class="fa fa-user"></i> <span>Hồ Sơ Cá Nhân</span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        </li>
        @*<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
    </ul>
</section>
