@model List<ApplicationUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh sách khách hàng";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {

            $('#tblAspNetUser').DataTable({
                'ordering': true,
                'searching': true,
                'lengthChange': true,
                'info': true
            });
            $(document).on("show.bs.modal", "#modal-createUser", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-content").load(link.attr("href"));
            });
            $(document).on("show.bs.modal", "#modal-editUser", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-content").load(link.attr("href"));
            });
            $(document).on("show.bs.modal", "#modal-deleteUser", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-content").load(link.attr("href"));
            });
            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });
            $("#daya").datepicker($.datepicker.regional["vi"]);
            $("#dayb").datepicker($.datepicker.regional["vi"]);
        });

    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <p>
                    <a data-toggle="modal" href="@Url.Action("_CreateModal")" class="btn bg-green btn-xs" data-target="#modal-createUser">Thêm mới</a>
                </p>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form class="form-inline" method="get" action="@Url.Action("Index")">
                                <div class="form-group">
                                    <label for="month">Xem theo tháng năm @DateTime.Now.Year:</label>
                                    <select name="month" id="month" class="form-control input-sm">
                                        @for (int i = 12; i >= 1; i--)
                                        {
                                            <option value="@i">Tháng @i</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-sm btn-default">Lọc</button>
                            </form>
                        </div>
                        <div class="col-md-7">
                            <form class="form-inline" method="get" action="@Url.Action("Index")">
                                <div class="form-group">
                                    <label>Xem từ ngày:</label>
                                    <input name="daya" type="text" id="daya" class="form-control input-sm datepicker" />
                                </div>
                                <div class="form-group">
                                    <label>đến ngày:</label>
                                    <input name="dayb" type="text" id="dayb" class="form-control input-sm datepicker" />
                                </div>
                                <button type="submit" class="btn btn-sm btn-default">Lọc</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tblAspNetUser" class="table table-bordered table-striped" method="post">
                                    <thead>
                                        <tr>
                                            <th>Thời gian</th>
                                            <th>Nội dung chi tiêu</th>
                                            <th>Số tiền chi tiêu</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Date</td>
                                                <td>
                                                    @item.Content
                                                </td>
                                                <td>@item.Amount_Format</td>
                                                <td class="text-center">
                                                    <a class="btn bg-blue btn-xs" data-toggle="modal" data-target="#modal-editUser" href="@Url.Action("_EditModal", new { id = item.Id })"><i class="fa fa-edit"></i> Sửa</a>
                                                    <a data-toggle="modal" data-target="#modal-deleteUser" href="@Url.Action("_DeleteModal",new { Id = item.Id })" class="btn btn-default btn-xs"><i class="fa fa-remove"></i> Xóa</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                @if (Model.Count > 0)
                {
                    <div class="box-footer clearfix">
                        <a onclick="return confirm('Xác nhận xuất dữ liệu chi tiêu này ra file excel? Dữ liệu web vẫn sẽ giữ nguyên')" href="@Url.Action("Index", new { month = Request.QueryString["month"], daya = Request.QueryString["daya"], dayb = Request.QueryString["dayb"], exportExcel = 1 })" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa fa-file-excel-o"></i> Xuất file Excel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="modal-createUser">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-editUser">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-deleteUser">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.row -->
