<div class="elementor-section elementor-element elementor-element-0ed7jr4 elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-element elementor-element-bh1cosu elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-widget elementor-element elementor-element-tr7kggr elementor-widget-heading" data-element_type="heading">
                            <div class="elementor-widget-container">
                                <span class="elementor-heading-title elementor-size-default none"><span>Blog </span></span>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-352k17j elementor-widget-divider" data-element_type="divider">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-o2uhkl7 elementor-widget-prestashop-widget-Blog" data-element_type="prestashop-widget-Blog">
                            <div class="elementor-widget-container">
                                <section class="elementor-blog-posts elementor-blog-posts-carousel elementor-slick-slider ph_simpleblog">
                                    <div class="elementor-blog-carousel simpleblog-posts " data-slider_options='{"slidesToShow":4,"slidesToShowTablet":3,"slidesToShowMobile":2,"autoplaySpeed":5000,"autoplay":true,"infinite":true,"pauseOnHover":true,"arrows":false,"dots":true}'>
                                        @foreach (NewsListViewModel news in ViewBag.News)
                                        {
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">
                                                <div class="post-thumbnail">
                                                    <a href="@Url.Action("Details","News",new { alias = news.Alias })"
                                                       title="@news.Title">
                                                        <img src="@news.Image" alt="@news.Title"
                                                             class="img-fluid" width="490" height="294" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->

                                                <div class="post-title">
                                                    <h2>
                                                        <a href="@Url.Action("Details","News",new { alias = news.Alias })"
                                                           title="Permalink to In ac fermentum massa amet">
                                                            @news.Title
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->

                                                <div class="post-content">
                                                    @news.Introduce

                                                    <a href="@news.Image" title="Read more" class="post-read-more text-muted">
                                                        <span>xem thêm</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->

                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:55+02:00">@Warehouse.Common.Format.FormatDateTime(news.DateSubmitted)</time>
                                                    </span>
                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>       
                                        }
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

