@model List<GridProductViewModel>

@foreach (var product in Model)
{
    <div class="js-product-miniature-wrapper col-6 col-md-4 col-lg-3 col-xl-15">
        <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-1 js-product-miniature" data-id-product="87" data-id-product-attribute="0" itemscope="" itemtype="http://schema.org/Product">
            <div class="thumbnail-container">
                <a href="@Url.Action("Details","Product",new { alias = product.Alias})" class="thumbnail product-thumbnail">
                    <img data-src="@product.FullUrlImage" src="@product.FullUrlImage" alt="" data-full-size-image-url="@product.ZoomImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid js-lazy-product-image product-thumbnail-first loaded" data-was-processed="true" />
                    @if (product.SecondImage != null)
                    {
                    <img data-src="@product.FullUrlSecondImage" src="@product.FullUrlSecondImage" alt="" data-full-size-image-url="@product.ZoomSecondImage" width="@Context.Application["WidthImageProduct"]" height="@Context.Application["HeightImageProduct"]" class="img-fluid js-lazy-product-image product-thumbnail-second loaded" data-was-processed="true" />
                    }
                </a>
                <ul class="product-flags">
                    <li class="product-flag" style="background:@product.FlagColor">
                        @product.ProductFlag
                    </li>
                </ul>
                <div class="product-functional-buttons product-functional-buttons-bottom">
                    <div class="product-functional-buttons-links">
                        <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-url="#" data-toggle="tooltip" title="" data-original-title="Add to wishlist">
                            <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-url="#" data-toggle="tooltip" title="" data-original-title="Compare">
                            <i class="fa fa-random" aria-hidden="true"></i>
                        </a>

                        <a href="@Url.Action("_ContentQuickViewModal","Product",new { Id = product.Id })" data-toggle="modal" data-target="#quickview-modal">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>

            </div>
            <div class="product-description">
                <h3 class="h3 product-title" itemprop="name">
                    <a href="@Url.Action("Details","Product",new { alias = product.Alias})">@product.Name</a>
                </h3>
                <div class="product-price-and-shipping" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                    <span itemprop="price" class="product-price">@(Warehouse.Common.Format.FormatCurrencyVND(product.Price))</span>
                </div>

                <div class="product-add-cart">
                    <form action="#" method="post">
                        <input type="hidden" name="id_product" value="87">
                        <div class="input-group input-group-add-cart">
                            <input type="number" name="qty" value="1" class="input-group form-control input-qty" min="1">

                            <button class="btn btn-product-list add-to-cart" data-button-action="add-to-cart" type="submit">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i> Thêm vào giỏ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </div>
}
