<div class="elementor-section elementor-element elementor-element-1soji82 elementor-top-section elementor-section-boxed elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle animated fadeIn" data-animation="fadeIn" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-element elementor-element-1svxmem elementor-col-50 elementor-top-column animated slideInLeft" data-animation="slideInLeft" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-widget elementor-element elementor-element-evy0tng elementor-widget-heading" data-element_type="heading">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default none"><span>@Warehouse.Language.Shared.Index.StatisticsShop</span></h2>
                            </div>
                        </div>
                        <div class="elementor-section elementor-element elementor-element-yu5s3f7 elementor-inner-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-element elementor-element-xuus0g9 elementor-col-33 elementor-inner-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-widget elementor-element elementor-element-8r1apic elementor-widget-counter" data-element_type="counter">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-counter">
                                                            <div class="elementor-counter-number-wrapper">
                                                                <span class="elementor-counter-number" data-duration="2000" data-to_value="@ViewBag.CountAllCategory"></span>
                                                            </div>
                                                            <div class="elementor-counter-title">@Warehouse.Language.Shared.Index.Category</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-element elementor-element-5cvxm0y elementor-col-33 elementor-inner-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-widget elementor-element elementor-element-amdny9p elementor-widget-counter" data-element_type="counter">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-counter">
                                                            <div class="elementor-counter-number-wrapper">
                                                                <span class="elementor-counter-number" data-duration="2000" data-to_value="@ViewBag.CountAllProduct"></span>
                                                            </div>
                                                            <div class="elementor-counter-title">@Warehouse.Language.Product.Index.Product</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-element elementor-element-jlhttum elementor-col-33 elementor-inner-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-widget elementor-element elementor-element-h2iaows elementor-widget-counter" data-element_type="counter">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-counter">
                                                            <div class="elementor-counter-number-wrapper">
                                                                <span class="elementor-counter-number" data-duration="2000" data-to_value="@ViewBag.CountAllOrder"></span><span class="elementor-counter-number-suffix">+</span>
                                                            </div>
                                                            <div class="elementor-counter-title">@Warehouse.Language.Order.History.Order</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-element elementor-element-svobbny elementor-col-50 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

