@{
    ViewBag.Title = Warehouse.Language.Header.Header.Home;
    ViewBag.BodyId = "index";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-index tax-display-disabled body-desktop-header-style-w-4";
}

@section Styles{

    <style>
        .popupSocial {
            z-index: 999;
            text-align: center;
            background: transparent;
            position: fixed;
            top: calc(50% - 75px);
            right: -5px;
            padding: 20px 5px; /* border-bottom: 2px solid #333; */
            border-radius: 10px;
        }

        @@media screen and (max-width:768px) {
            .popupSocial {
                display: none;
            }
        }
    </style>
    <link href="~/Content/home.css" rel="stylesheet" />
}

@section Scripts{

    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = ".tp-caption.Gym-Display,.Gym-Display{}.tp-caption.Gym-Subline,.Gym-Subline{color:rgba(255,255,255,1.00);font-size:30px;line-height:30px;font-weight:100;font-style:normal;font-family:Raleway;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;letter-spacing:5px}.tp-caption.Gym-SmallText,.Gym-SmallText{color:rgba(255,255,255,1.00);font-size:17px;line-height:22px;font-weight:300;font-style:normal;font-family:Raleway;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;text-shadow:none}.tp-caption.Gym-Button,.Gym-Button{letter-spacing:1px}.tp-caption.Gym-Button:hover,.Gym-Button:hover{color:rgba(255,255,255,1.00);text-decoration:none;background-color:rgba(158,69,65,1.00);border-color:rgba(0,0,0,0);border-style:solid;border-width:0px;border-radius:30px 30px 30px 30px}.tp-caption.gym-display-black,.gym-display-black{color:rgba(0,0,0,1.00);font-size:80px;line-height:70px;font-weight:900;font-style:normal;font-family:Raleway;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}.tp-caption.gym-subline-black,.gym-subline-black{color:rgba(0,0,0,1.00);font-size:20px;line-height:30px;font-weight:300;font-style:normal;font-family:Raleway;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Or find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
        if (typeof setREVStartSize != 'undefined') setREVStartSize(
            { c: '#rev_slider_1_1', gridwidth: [1240], gridheight: [668], sliderLayout: 'fullwidth' });

        var revapi1,
            tpj;
        (function () {

            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();
            //onLoad();
            function onLoad() {

                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "https://iqit-commerce.com/ps17/modules/revsliderprestashop/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "on",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                            ,
                            arrows: {
                                style: "custom",
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 720,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                }
                            }
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1240,
                        gridheight: 668,
                        lazyType: "smart",
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */


            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = unescape(".custom.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3A%23000%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%7D%0A.custom.tparrows%3Ahover%20%7B%0A%09background%3A%23000%3B%0A%7D%0A.custom.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A15px%3B%0A%09color%3A%23fff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.custom.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A.custom.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%22%3B%0A%7D%0A%0A%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1932380583495333";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="popupSocial">
    <div class="fb-like" data-href="UrlTrangweb" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <br /><br />
    <div style="width:60px">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <g:plusone></g:plusone>
    </div>
</div>

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <section id="content" class="page-home">
                @Html.Partial("_SliderPartial")
                <div id="elementor" class="elementor">
                    <div id="elementor-inner">
                        <div id="elementor-section-wrap">
                            @Html.Partial("_WidgetPartial")
                            <div>&nbsp;</div>
                            <!-- Start Hot Products-->
                            <div class="elementor-section elementor-element elementor-element-5w81tvp elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-element elementor-element-d5guyh5 elementor-col-100 elementor-top-column animated fadeIn" data-animation="fadeIn" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-widget elementor-element elementor-element-vzz5uq0 elementor-widget-heading" data-element_type="heading">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-heading-title elementor-size-default none text-uppercase"><span>@Warehouse.Language.Product.Index.FeaturedProductsOfWeek</span></h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-widget elementor-element elementor-element-1ax7n11 elementor-widget-divider" data-element_type="divider">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-divider">
                                                                <span class="elementor-divider-separator"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-widget elementor-element elementor-element-co0tw3y elementor-widget-prestashop-widget-ProductsList" data-element_type="prestashop-widget-ProductsList">
                                                        <div class="elementor-widget-container">
                                                            <section class="elementor-products">
                                                                <div class="products row products-grid ">
                                                                    @Html.Partial("_GridProductPartial", ViewBag.HotProductsInWeek as List<GridProductViewModel>)
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Hot Products-->
                            <!-- Start New Products -->
                            <div class="elementor-section elementor-element elementor-element-5w81tvp elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-element elementor-element-d5guyh5 elementor-col-100 elementor-top-column animated fadeIn" data-animation="fadeIn" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-widget elementor-element elementor-element-vzz5uq0 elementor-widget-heading" data-element_type="heading">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-heading-title elementor-size-default none text-uppercase"><span>@Warehouse.Language.Product.Index.NewProduct</span></h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-widget elementor-element elementor-element-1ax7n11 elementor-widget-divider" data-element_type="divider">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-divider">
                                                                <span class="elementor-divider-separator"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-widget elementor-element elementor-element-co0tw3y elementor-widget-prestashop-widget-ProductsList" data-element_type="prestashop-widget-ProductsList">
                                                        <div class="elementor-widget-container">
                                                            <section class="elementor-products">
                                                                <div class="products row products-grid ">
                                                                    @Html.Partial("_GridProductPartial", ViewBag.NewProducts as List<GridProductViewModel>)
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End New Products-->
                            <!-- Start Sale Products -->
                            <div class="elementor-section elementor-element elementor-element-5w81tvp elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-element elementor-element-d5guyh5 elementor-col-100 elementor-top-column animated fadeIn" data-animation="fadeIn" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-widget elementor-element elementor-element-vzz5uq0 elementor-widget-heading" data-element_type="heading">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-heading-title elementor-size-default none text-uppercase"><span>@Warehouse.Language.Product.Index.DiscountProducts</span></h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-widget elementor-element elementor-element-1ax7n11 elementor-widget-divider" data-element_type="divider">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-divider">
                                                                <span class="elementor-divider-separator"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-widget elementor-element elementor-element-co0tw3y elementor-widget-prestashop-widget-ProductsList" data-element_type="prestashop-widget-ProductsList">
                                                        <div class="elementor-widget-container">
                                                            <section class="elementor-products">
                                                                <div class="products row products-grid ">
                                                                    @Html.Partial("_GridProductPartial", ViewBag.SaleProduct as List<GridProductViewModel>)
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Sale Products-->
                            @Html.Action("_StatisticalPartial", "Home")
                            @Html.Action("_GoogleMapPartial", "Home")
                            @Html.Action("_BlogPartial", "Home")
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page-footer">

                <!-- Footer content -->

            </footer>
        </section>
    </div>
</div>
