@model List<Category>
<nav class="navbar navbar-default " >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Menu</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0px;">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home", new { area=""})">Trang Chủ</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sản Phẩm Nam<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width:220px">
                        @foreach (Category category in Model)
                        {
                            <li class="text-center" style="margin:10px 0px; overflow:hidden">
                                <a style="font-size:18px" href="@Url.Action("SPTheoLoai", "Product", new { alias = category.Alias_SEO })">@category.Name.ToUpper()</a>
                            </li>

                        }
                    </ul>
                </li>
                @*@foreach (Category category in Model)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@category.Name </a>
            </li>
        }*@
                <li><a href="@Url.Action("About", "Home", new { area=""})">Giới Thiệu</a></li>
                <li><a href="@Url.Action("Add", "MailBox", new { area=""})">Liên Hệ</a></li>
                <li><a href="@Url.Action("SalesPolicy", "Home", new { area=""})">Chính Sách Bán Hàng</a></li>
                <li><a href="@Url.Action("ShoppingGuide", "Home", new { area=""})">Hướng Dẫn Mua Hàng</a></li>
               @* <li><a href="@Url.Action("Index", "News", new { area=""})">Tin Tức</a></li>*@
            </ul>
          
            @*<ul class="nav navbar-nav navbar-right">
                <li><a href="#">Chính sách</a></li>
                <li><a href="@Url.Action("Add", "MailBox", new { area=""})">Liên hệ</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                
            </ul>*@
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
