@model List<Product>
@{

    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#tblData').DataTable({
                columnDefs: [{ orderable: false, targets: [0,7] }],
                order: [[1, 'desc']],
            });
            @if(Request.QueryString["tabActive"] != null)
            { 
                WriteLiteral("$('#" + (Request.QueryString["tabActive"]) + "').addClass('active');"
                        + " $('a[href=\"#"+ (Request.QueryString["tabActive"]) + "\"]').parent().addClass('active');");
            }
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">

                            <li @(Request.QueryString["tabActive"] == null ? "class='active'" : "")><a href="#tab_1" data-toggle="tab">Đang Hiển Thị <label class="label label-success">@Model.Count(m => m.Display == true)</label></a></li>
                            <li><a href="#tab_2" data-toggle="tab">Đang Ẩn <label class="label label-warning">@Model.Count(m => m.Display == false)</label></a></li>

                        </ul>
                        <div class="tab-content">
                           
                            <div class="tab-pane @(Request.QueryString["tabActive"] == null ? "active" : "")" id="tab_1">         
                                 <div class="table-responsive">
                                       <table id="tblData" class="table table-bordered table-middle" method="post">
                                            <thead>
                                                <tr>
                                                    <th>Hình ảnh</th>
                                                    <th>Mã số</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Phân loại</th>
                                                    <th>Giá bán</th>
                                                    <th>Trạng thái</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Thao tác</th>                                                 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Product item in Model.Where(m => m.Display == true))
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <img src="~/Photos/Products/@item.Image" width="90" height="auto" />
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(p => item.Id)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(p => item.Name)
                                                        </td>
                                                        <td>
                                                            @item.Category.Name
                                                        </td>
                                                        <td>
                                                            @Warehouse.Common.Format.FormatCurrencyVND((int)(item.PriceNew ?? item.Price))
                                                        </td>
                                                        <td>
                                                            @if (item.Status)
                                                            {
                                                                <label class="label label-success">Còn hàng</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="label label-warning">Hết hàng</label>
                                                            }
                                                        </td>
                                                        <td>
                                                            @Warehouse.Common.Format.FormatDateTime(item.DateCreated)
                                                            
                                                        </td>
                                                        <td class="text-center">
                                                            <a class="btn bg-blue btn-xs" href="@Url.Action("Details", new { Id = item.Id })"><i class="fa fa-eye"></i> Xem</a>
                                                            <a class="btn bg-blue btn-xs" href="@Url.Action("Edit", new { Id = item.Id })"><i class="fa fa-edit"></i> Sửa</a>
                                                            <form class="hidden" id="frmTab1Delete_@item.Id" action="@Url.Action("Delete",new { Id = item.Id })" method="post">
                                                                @Html.AntiForgeryToken()
                                                                <input name="tabActive" value="tab_1" />
                                                            </form>
                                                            <button class="btn bg-red btn-xs" onclick="if(confirm('Xác nhận xóa sản phẩm @item.Name.ToUpperInvariant() ?')) { document.getElementById('frmTab1Delete_@item.Id').submit();  }"><i class="fa fa-remove"></i> Xóa</button>
                                                        </td>
                                                       
                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                 </div>        
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                   <div class="table-responsive">
                                        <table id="tblData" class="table table-bordered table-middle" method="post">
                                                <thead>
                                                    <tr>
                                                        <th>Hình ảnh</th>
                                                        <th>Mã số</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Phân loại</th>
                                                        <th>Giá bán</th>
                                                        <th>Trạng thái</th>
                                                        <th>Ngày tạo</th>
                                                        <th>Thao tác</th>
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Product item in Model.Where(m => m.Display == false))
                                                    {
                                                        <tr class="bg-warning">
                                                            <td class="text-center">
                                                                <img src="~/Photos/Products/@item.Image" width="90" height="auto" />
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(p => item.Id)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(p => item.Name)
                                                            </td>
                                                            <td>
                                                                @(item.Category == null ? "" :  item.Category.Name)
                                                            </td>
                                                            <td>
                                                                @Warehouse.Common.Format.FormatCurrencyVND((int)(item.PriceNew ?? item.Price))
                                                            </td>
                                                            <td>
                                                                @if (item.Status)
                                                                {
                                                                    <label class="label label-success">Còn hàng</label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="label label-warning">Hết hàng</label>
                                                                }
                                                            </td>
                                                            <td>
                                                                @Warehouse.Common.Format.FormatDateTime(item.DateCreated)
                                                            </td>
                                                            <td class="text-center">
                                                                <a class="btn bg-blue btn-xs" href="@Url.Action("Details", new { Id = item.Id })"><i class="fa fa-eye"></i> Xem</a>
                                                                <a class="btn bg-blue btn-xs" href="@Url.Action("Edit", new { Id = item.Id })"><i class="fa fa-edit"></i> Sửa</a>
                                                                <form class="hidden" id="frmTab2Delete_@item.Id" action="@Url.Action("Delete",new { Id = item.Id })" method="post">
                                                                    @Html.AntiForgeryToken()
                                                                    <input name="tabActive" value="tab_2" />
                                                                </form>
                                                                <button class="btn bg-red btn-xs" onclick="if(confirm('Xác nhận xóa sản phẩm @item.Name.ToUpperInvariant() ?')) { document.getElementById('frmTab2Delete_@item.Id').submit();  }"><i class="fa fa-remove"></i> Xóa</button>
                                                            </td>
                                                       
                                                        </tr>
                                                    }
                                                </tbody>

                                            </table>
                                   </div>                               
                            </div>
                            <!-- /.tab-pane -->
                            
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a onclick="return confirm('Xác nhận xuất dữ liệu ra file excel? Dữ liệu web vẫn sẽ giữ nguyên')" href="@Url.Action("ExportToExcel")" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa fa-file-excel-o"></i> Xuất file Excel</a>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

