<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link rel="icon" href="~/images/Elegantthemes-Beautiful-Flat-One-Color-Fashion.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <link href="~/Content/account.css" rel="stylesheet" />
</head>
<body class="off-canvas-nav-left">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="top-header-left">
                            @Html.Partial("_LoginPartial")
                            <a href="@Url.Action("Search", "Product", new { area=""})"><span class="glyphicon glyphicon-search"></span> Tìm kiếm</a>
                            <a href="@Url.Action("Index", "ShoppingCart", new { area=""})" class="text-success"><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng <span class="badge" id="Countsptronggio">@(Session["TotalCount"] != null ? Session["TotalCount"] : 0)</span></a>
                            <a href="#" class="text-danger"><span class="glyphicon glyphicon-phone-alt"></span> Hot line: @((Session["InfoShop"] as InfoShop).Phone)</a>
                        </div> <!-- /.top-header-left -->
                    </div> <!-- /.col-md-6 -->

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="@((Session["InfoShop"] as InfoShop).Fanpage)" class="fa fa-facebook"></a></li>
                                <li><a href="@((Session["InfoShop"] as InfoShop).Zalo)" class="fa fa-zalo"></a></li>
                                <li><a href="@((Session["InfoShop"] as InfoShop).Email)" class="fa fa-mailbox"></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div> <!-- /.social-icons -->
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->


       
        
        @*@Html.Action("MainNav", "Home", new { area = "" })*@
    </header> <!-- /.site-header -->
    <a href="#" data-toggle="modal" id="thongbao" data-target="#thongBaoModal"></a>
    <div class="modal fade" id="thongBaoModal" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                    <label id="ContentThongBao"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <div class="content-section content-Account">
        
        <div class="container">
            <div class="row">
                <h1><a href="@Url.Action("Index", "Home", new { area=""})">TRANG QUẢN TRỊ</a></h1>
                <div class="col-md-3" id="anhien">
                    <div class="pull-left">
                        <label data-toggle="tooltip" data-placement="top" style="cursor:pointer" title="Hiện lại toolbar" id="btnHien"><span class="glyphicon glyphicon-arrow-right">Hiện&nbsp;</span></label>
                    </div>
                    <div class="pull-right">
                        <label data-toggle="tooltip" data-placement="top" style="cursor:pointer" title="Ẩn toolbar" id="btnAn"><span class="glyphicon glyphicon-arrow-left">Ẩn&nbsp;</span></label>
                    </div>

                </div>
                <div style="clear:both;height:1px">&nbsp;</div>
                <div class="col-md-3" id="leftsidebar">
                    <div class="divTitle2">
                        Thao tác
                    </div>
                    <div style="border-right:1px solid; border-left:1px solid; min-height:500px;overflow:hidden;">
                        @Html.Partial("_MenuAdminPartial")
                    </div>
                    <div class="divTitle2" style="cursor:pointer">

                    </div>
                </div>

                <div class="col-md-9" id="rightsidebar">
                    <div class="divTitle2">
                        @(ViewBag.Message ?? ViewBag.Title)
                    </div>
                    <div style="border-left:1px solid;border-right:1px solid; padding:10px;min-height:1000px;">

                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("_FooterPartial","Home",new { area="" })
  
    @Scripts.Render("~/bundles/jqueryCDN")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $("body").tooltip({
                selector: '[data-toggle="tooltip"]'
            });
             $.get("@Url.Action("DemDonChuaGiao", "Order")", { area:""}, function (result) {
                 $("#tongdonchuagiao").html(result.toString());
            });
             $.get("@Url.Action("DemTongSanPham", "Product")", { area:""}, function (result) {
                $("#tongsanpham").html(result.toString());
            });
            $.get("@Url.Action("DemTongSanPham", "Product")", { display:false, area:""}, function (result) {
                $("#tongsanphamchuahien").html(result.toString());
            });
            
            $(document).on('click', '.social-icons a', function () {
                if ($(this).hasClass('fa fa-facebook')) {
                    window.open('https://www.facebook.com/sharer/sharer.php?u=@(Request.Url)', 'Share Facebook', config = 'height=300, width=500');
                }

                if ($(this).hasClass('fa fa-twitter')) {
                    window.open('http://twitter.com/home?status=Currently inspired by @(Request.Url)', 'Share Twitter', config = 'height=300, width=500');
                }

                if ($(this).hasClass('fa fa-google-plus')) {
                    window.open('https://plus.google.com/share?url=@(Request.Url)', 'Share Google +', config = 'height=300, width=500');
                }

            });
        });

    </script>

    @RenderSection("scripts", required: false)
    <script>
        $(function () {
          
            @if(Session["An"] != null)
            {
                    if(bool.Parse(Session["An"].ToString()) == true)
                    {
                        WriteLiteral(@"$('#leftsidebar').hide();$('#rightsidebar').attr('class', 'col-md-12');");
                    }
                    else
                    {
                        WriteLiteral(@"$('#leftsidebar').attr('class', 'col-md-3');$('#rightsidebar').attr('class', 'col-md-9');");
                    }
            }
            $("#btnAn").click(function () {

                $.ajax({
                    url: '@Url.Action("AnHien","Admin", new { an = true})',
                    type: 'Get',
                    success:
                        function () {
                            $("#leftsidebar").hide();
                            $("#rightsidebar").attr("class", "col-md-12");
                            $("#anhien").removeClass("col-md-3").addClass("col-md-2");
                        }
                });

            });
            $("#btnHien").click(function () {
                $.ajax({
                    url: '@Url.Action("AnHien","Admin", new { an = false})',
                    type: 'Get',
                    success:
                        function () {
                            $("#leftsidebar").show();
                            $("#rightsidebar").attr("class", "col-md-9");
                            $("#anhien").removeClass("col-md-2").addClass("col-md-3");
                        }
                });

            });
        });
    </script>
    <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.12.1.min.js"><\/script>')</script>
</body>

</html>

