@model IndexViewModel
<div class="my-account-side-links col-sm-3">
    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="@Url.Action("Index")" >
        <span class="link-item">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>@Warehouse.Language.Manage.LeftSidebar.MyInformation
        </span>
    </a>
    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="history-link" href="@Url.Action("ViewHistory","Manage")" >
        <span class="link-item">
            <i class="fa fa-history fa-fw" aria-hidden="true"></i>@Warehouse.Language.Footer.Index.OrderHistory
        </span>
    </a>

    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="iqitwishlist" href="@Url.Action("Index","FavoriteProduct")">
        <span class="link-item">
            <i class="fa fa-heart-o fa-fw" aria-hidden="true"></i>@Warehouse.Language.Header.Header.ProductFavorite
        </span>
    </a>
    @if (Model.HasPassword)
    {
        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="changepassword" href="@Url.Action("ChangePassword")" >
            <span class="link-item">
                <i class="fa fa-key fa-fw" aria-hidden="true"></i>@Warehouse.Language.Manage.Index.ChangePassword
            </span>
        </a>
    }
    else
    {
        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="setpassword" href="@Url.Action("SetPassword")" >
            <span class="link-item">
                <i class="fa fa-key fa-fw" aria-hidden="true"></i>@Warehouse.Language.Manage.Index.SetPassword
            </span>
        </a>
    }

    <form id="frmLogoff" action="@Url.Action("LogOff","Account")" method="post">
        @Html.AntiForgeryToken()
    </form>
    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="javascript:document.getElementById('frmLogoff').submit()"  rel="nofollow">
        <span class="link-item">
            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>@Warehouse.Language.Header.Header.Logout
        </span>
    </a>

</div>
