@model ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-my-account tax-display-disabled body-desktop-header-style-w-4";
    ViewBag.BodyId = "my-account";
}
<div id="inner-wrapper" class="container">
    <div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1>
            </header>
            <section id="content" class="page-content my-account-page-content-wrapper">
                <div class="row">
                    @Html.Action("_SidebarManage")
                    <div class="my-account-page-content col-sm-9">
                        <aside id="notifications">
                            @if (ViewBag.StatusMessage != null)
                            {
                                <p class="alert alert-success">@ViewBag.StatusMessage</p>
                            }
                        </aside>
                        <form action="@Url.Action("ChangePassword")" class="js-customer-form" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <section>

                                <div class="form-group row align-items-center ">
                                    <label class="col-md-3 col-form-label required">
                                        @Html.DisplayNameFor(m => Model.OldPassword)
                                    </label>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(m => Model.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.OldPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 form-control-comment"></div>
                                </div>

                                <div class="form-group row align-items-center ">
                                    <label class="col-md-3 col-form-label required">
                                        @Html.DisplayNameFor(m => Model.NewPassword)
                                    </label>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 form-control-comment"></div>
                                </div>

                                <div class="form-group row align-items-center ">
                                    <label class="col-md-3 col-form-label required">
                                        @Html.DisplayNameFor(m => Model.ConfirmPassword)
                                    </label>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(m => Model.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 form-control-comment"></div>
                                </div>
                            </section>
                            <footer class="form-footer text-center clearfix">
                                <button class="btn btn-primary form-control-submit" type="submit">
                                    Xác Nhận
                                </button>
                            </footer>
                        </form>

                    </div>
                </div>
            </section>
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}