@using PagedList;
@using PagedList.Mvc;
@using System.Configuration;
@model IPagedList<Order>
@{
    ViewBag.Title = "Lịch sử đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-my-account tax-display-disabled body-desktop-header-style-w-4";
    ViewBag.BodyId = "my-account";
    string[] listStatus = ConfigurationManager.AppSettings["listStatus"].Split(',');
    string[] listColor = ConfigurationManager.AppSettings["listColor"].Split(',');
}

@section Scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<div id="inner-wrapper" class="container">
    <div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1>
            </header>
            <section id="content" class="page-content my-account-page-content-wrapper">
                <div class="row">
                    @Html.Action("_SidebarManage")
                    <div class="my-account-page-content col-sm-9">
                      
                        <div class="table-responsive" id="table">
                            <table class="table table-hover table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Mã đơn hàng</th>
                                        <th class="text-center">Tổng số lượng</th>
                                        <th>Tổng thành tiền</th>
                                        <th>Ngày đặt</th>
                                        <th>Trạng thái</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Order order in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@order.Id</td>
                                            <td class="text-center">@order.TotalQuantity</td>
                                            <td>
                                                @Warehouse.Common.Format.FormatCurrencyVND((int?)order.TotalMoney)
                                            </td>
                                            <td>
                                                @Warehouse.Common.Format.FormatDateTime(order.DateOrder)
                                            </td>
                                            <td>
                                                <label class="text text-@listColor[order.Status]">@listStatus[order.Status]</label>
                                            </td>
                                            <td class="text-center">
                                                <a data-toggle="modal" href="#modal-ViewOrderDetails-@order.Id" class="btn btn-danger btn-sm"><i class="fa fa-list"></i> Xem sản phẩm</a>
                                                @if (order.Status == 0) // nếu trạng thái là đang giao
                                                {
                                                    <form class="hidden" action="@Url.Action("CancelOrder", new { Id = order.Id })" method="post">
                                                        @Html.AntiForgeryToken()
                                                    </form>
                                                    <button onclick="if(confirm('Xác nhận hủy đặt đơn hàng này?')) $(this).parent().children('form').submit()" class="btn btn-default btn-sm"><i class="fa fa-remove"></i> Hủy đơn</button>
                                                }
                                                else
                                                {
                                                    <button onclick="alert('Không thể hủy đơn hàng này vì trạng thái đơn hàng là @listStatus[order.Status] ')"  class="btn btn-default btn-sm"><i class="fa fa-remove"></i> Hủy đơn</button>
                                                }
                                                <div class="modal fade" id="modal-ViewOrderDetails-@order.Id">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-blue">
                                                                <h4 class="modal-title">Thông tin các sản phẩm của đơn hàng @order.Id</h4>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-condensed table-middle">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">Hình ảnh</th>
                                                                                <th>Tên sản phẩm</th>
                                                                                <th class="text-center">Số lượng đặt</th>
                                                                                <th class="text-center">Giá bán</th>
                                                                                <th class="text-center">Thành tiền</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (OrderDetail orderDetail in order.OrderDetails)
                                                                            {
                                                                                <tr>
                                                                                    <td class="text-center">
                                                                                        <img src="~/Photos/Products/@orderDetail.ProductImage" width="100" height="auto" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <a target="_blank" href="@Url.Action("Details","Product",new { alias = orderDetail.ProductAlias })">@orderDetail.ProductName</a>
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @orderDetail.Quantity
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @Warehouse.Common.Format.FormatCurrencyVND((int?)orderDetail.Price)
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        @Warehouse.Common.Format.FormatCurrencyVND((int?)orderDetail.Money)
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                                                            </div>

                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            @Html.PagedListPager(Model, page => Url.Action("ViewHistory",new { page = page }),
                                           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() {
                                               ContainerDivClasses = new string[] { "pagination" },
                                               UlElementClasses = new string[] { "page-list clearfix text-center" },
                                               LiElementClasses = new string[] { "page-list clearfix text-center" },

                                               Display = PagedListDisplayMode.Always,
                                               DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                               DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                               DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                               DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded
                                           },
                                           new AjaxOptions() { UpdateTargetId = "table", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", AllowCache = true  }) )
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>

