@model ArticleDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "cms";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-cms tax-display-disabled cms-id-4 body-desktop-header-style-w-4";
}

@section styles
{

}


<div class="container">
    <nav data-depth="2" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url"><span itemprop="name">@ViewBag.Title</span></a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside><div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title">
                    <span>
                        @ViewBag.Title
                    </span>
                </h1>
            </header>
            <section id="content" class="page-content page-cms page-cms-4">
                <div class="rte-content">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page-footer">
                <!-- Footer content -->
            </footer>
        </section>
    </div>
</div>
