@using Microsoft.Owin.Security
@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}


<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="frmDangNhap">
                <h3 class="widget-title">Đăng nhập</h3>
                <hr />
                <div class="login-form">
                    <form name="loginform" id="loginform" action="@Url.Action("Login","Account")" method="post">
                        <input type="hidden" name="returnUrl" value="@Request.Url" />
                        @Html.AntiForgeryToken()
                        <p>
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                        </p>
                        <p>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                        </p>
                        <p>
                            @Html.CheckBoxFor(m => m.RememberMe, new { style = "width:20px" })Ghi nhớ đăng nhập
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", "Account", new { @class = "pull-right" })
                        </p>
                        <button type="submit" id="submit" class="btnLogin"><span class="glyphicon glyphicon-on"></span> Đăng nhập</button>
                    </form>
                    @Html.ValidationMessage("", new { @class = "text-danger" })
                </div> <!-- /.contact-form -->
            </div>
           
        </div>
    </div>
</div> <!-- /.content-section -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}