@model RegisterViewModel

@{
    ViewBag.Title = "Đăng ký thành viên";
    LoginViewModel loginView = new LoginViewModel();
}
@section styles
{
    <style>
        *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

/*body {
  background: #dcdcdc;
 
}*/

.form a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
   
}
  /*body 
    {
           background:#c1bdba;
          
           
  }*/
.form a:hover {
  color: #179b77;
}

.form {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  max-width: 100%;
  margin: 0px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(255, 255, 255, 0.3);
     font-family: 'Titillium Web', sans-serif;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #000;
}
.tab-group .active a {
  background: #1ab188;
  color: #fff;
}

.tab-content > div:last-child {
  display: none;
}

.form h1 {
  text-align: center;
  color: #179b77;
  font-weight: 300;
  margin: 0 0 40px;
}

.form label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
    font-weight:normal;
    margin:7px;
}
.form label .req {
  margin: 2px;
  color: #1ab188;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #000;
}

.form input,.form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.form input:focus,.form textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.divCol2
    {
     float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.form .button:hover,.form .button:focus {
  background: #179b77;
}

.form .button-block {
  display: block;
  width: 100%;
}

.form .forgot {
  margin-top: -20px;
  text-align: right;
}

    </style>
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="btnOpenModal" class="displaynone" data-toggle="modal" data-target="#ModalDangKy">Open modal</button>
                <!-- Modal -->
                <div id="ModalDangKy" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form">
                                    <ul class="tab-group">
                                        <li class="tab active"><a href="#signup">Đăng ký</a></li>
                                        <li class="tab"><a href="#login">Log In</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="signup">
                                            <h1>Đăng ký thành viên</h1>
                                            @if (ViewBag.ThongBao != null)
                                            {
                                                <p class="text-success">
                                                    @ViewBag.ThongBao
                                                </p>
                                            }
                                            @Html.ValidationSummary("", new { @class="text-danger"})
                                            <form action="@Url.Action("Register")" method="post">
                                            @Html.AntiForgeryToken()
                                                <div class="top-row">
                                                    <div class="field-wrap">
                                                        @Html.TextBoxFor(m => m.Name, new { style = "width:100%", placeholder="Họ tên *" })
                                                        @Html.ValidationMessageFor(m => Model.Name, "", new {  @class = "text-danger" })
                                                    </div>
                                                    <div class="field-wrap">
                                                        @Html.TextBoxFor(m => m.Email, new { style = "width:100%", placeholder="Email *" })
                                                        @*<input type="email" name="Email" style="width:100%" />*@
                                                        @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                 </div>
                                                    <div class="top-row">
                                                        <div class="field-wrap">
                                                            @Html.TextBoxFor(m => m.Password, new { type="password", style = "width:100%", placeholder = "Mật khẩu *" })
                                                            @Html.ValidationMessageFor(m => Model.Password, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="field-wrap">

                                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", style = "width:100%", placeholder = "Nhập lại mật khẩu *" })
                                                            @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="field-wrap">

                                                        @Html.TextBoxFor(m => m.Phone, new { style = "width:100%", placeholder="Số điện thoại *" })
                                                        @Html.ValidationMessageFor(m => Model.Phone, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="field-wrap">

                                                        @Html.TextBoxFor(m => m.Address, new { style = "width:100%", placeholder="Địa chỉ *" })
                                                        @Html.ValidationMessageFor(m => Model.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                    <button type="submit" class="button button-block">Đăng ký</button>

</form>

                                        </div>

                                        <div id="login">
                                            <h1>Đăng nhập</h1>

                                            <form action="@Url.Action("Login")" method="post">
                                                @Html.AntiForgeryToken()
                                                <div class="field-wrap">
                                                    @Html.TextBox("Email", null, new { required="required", style="width:100%",placeholder="Email *"})
                                                    @Html.ValidationMessageFor(m => loginView.Email,"", new { @class="text-danger"})
                                                    
                                                </div>

                                                <div class="field-wrap">
                                                    @Html.TextBox("Password", null, new { required = "required", type = "password", style = "width:100%", placeholder = "Email *" })
                                                    @Html.ValidationMessageFor(m => loginView.Password, "", new { @class = "text-danger" })
                                                </div>

                                                <p class="forgot"><a href="@Url.Action("ForgotPassword")">Quên mật khẩu?</a></p>

                                                <button type="submit" class="button button-block">Đăng nhập</button>

                                            </form>
                                           
                                        </div>

                                    </div><!-- tab-content -->

                                </div> <!-- /form -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnDong" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>

                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div> <!-- /.content-section -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#btnOpenModal").click();
        $("#btnDong").click(function () {
            location.replace('@Url.Action("Index", "Home", new { area = "" })');
        });
    });
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else
            if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });

    $('.tab a').on('click', function (e) {

        e.preventDefault();

        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');

        target = $(this).attr('href');

        $('.tab-content > div').not(target).hide();

        $(target).fadeIn(600);

    });
    </script>
}