@using System.Configuration;
@model Order

@{
    ViewBag.Title = "Chi tiết đơn hàng " + Model.Id;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Message = "Chi tiết đơn hàng " + Model.Id;
    string[] listStatus = ConfigurationManager.AppSettings["listStatus"].Split(',');
    string[] listColor = ConfigurationManager.AppSettings["listColor"].Split(',');
}
@section styles
{
    <style>
        table {
            color: #2a3f52;
        }

            table td {
                padding: 5px;
            }

        tr td[class='text-right'] {
            width: 150px;
        }

        label {
            font-size: 14px;
        }
    </style>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-6">
                        <h5 class="text-info">Thông tin đơn hàng</h5>
                        <hr />
                        <table>
                            <tr>
                                <td>Mã đơn hàng:</td>
                                <td><label>@Model.Id</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.TotalQuantity):</td>
                                <td><label>@Model.TotalQuantity</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.TotalMoney):</td>
                                <td><label>@Html.DisplayFor(m => Model.TotalMoney)</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.DateOrder):</td>
                                <td><label>@Html.DisplayFor(model => model.DateOrder)</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Status):</td>
                                <td>
                                    <label class="label label-@listColor[Model.Status]">@listStatus[Model.Status]</label>
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Paid):</td>
                                <td>
                                    @if (Model.Paid)
                                    {
                                        <label class="label label-success">Đã thanh toán</label>
                                    }
                                    else
                                    {
                                        <label class="label label-danger">Chưa thanh toán</label>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-info">Thông tin khách hàng: </h5>
                        <hr />
                        <table>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Name):</td>
                                <td><label class="text-info">@Model.Name</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Email):</td>
                                <td><label>@Model.Email</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Phone):</td>
                                <td><label>@Model.Phone</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Address):</td>
                                <td><label>@Model.Address</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.ProvinceId):</td>
                                <td>
                                    <label>@Model.Province.Name</label>
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.DistrictId):</td>
                                <td><label>@Model.District.Name</label></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.WardId):</td>
                                <td><label>@Model.Ward.Name</label></td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both"></div>
                    <h5 class="text-info">Chi tiết đơn hàng</h5>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrderDetail item in Model.OrderDetails)
                            {
                                <tr>
                                    <td class="text-center"><img src="~/Photos/Products/@item.ProductImage" width="100" height="auto" /> </td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@Html.DisplayFor(a => item.Price)</td>
                                    <td>@Html.DisplayFor(a => item.Money)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        <a href="@(Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : Url.Action("Index"))" class="btn btn-default btn-sm">Trở về</a>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


