@using System.Configuration;
@model List<Order>

@{
    ViewBag.Title = "Danh Sách Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string[] listStatus = ConfigurationManager.AppSettings["listStatus"].Split(',');
    string[] listColor = ConfigurationManager.AppSettings["listColor"].Split(',');
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
          
            @if(Request.QueryString["tabActive"] != null)
            {
                WriteLiteral("$('#" + (Request.QueryString["tabActive"]) + "').addClass('active');"
                        + " $('a[href=\"#"+ (Request.QueryString["tabActive"]) + "\"]').parent().addClass('active');");
            }

            $("input[data-id=checkall]").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest("table").find("input[type=checkbox]").prop("checked", true);
                }
                else {
                    $(this).closest("table").find("input[type=checkbox]").prop("checked", false);
                }
            });

            $('.tblData').DataTable({
                columnDefs: [{ orderable: false, targets: [0, 5, 7] }],
                order: [[1, 'desc']],
            });

            $(document).on("submit", "form[name=frm]", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: "Post",
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            window.location.reload();
                        }
                        else {
                            ShowPopUpError(result.message);
                        }
                    },
                    error: function () {
                        ShowPopUpError("Lỗi ajax!");
                    }
                });
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">

                            <li @(Request.QueryString["tabActive"] == null ? "class='active'" : "")><a href="#tab_0" data-toggle="tab">Chờ xác nhận<label class="label label-warning">@Model.Count(m => m.Status == 0)</label></a></li>
                            <li><a href="#tab_1" data-toggle="tab">Đang giao<label class="label label-primary">@Model.Count(m => m.Status == 1)</label></a></li>
                            <li><a href="#tab_2" data-toggle="tab">Đã giao<label class="label label-success">@Model.Count(m => m.Status == 2)</label></a></li>
                            <li><a href="#tab_3" data-toggle="tab">Đổi/trả hàng<label class="label label-danger">@Model.Count(m => m.Status == 3)</label></a></li>
                            <li><a href="#tab_4" data-toggle="tab">Bị huỷ<label class="label label-danger">@Model.Count(m => m.Status == 4)</label></a></li>
                        </ul>
                        <div class="tab-content">
                            @for (int i = 0; i < listStatus.Count(); i++)
                            {
                            <div class="tab-pane @(Request.QueryString["tabActive"] == null && i == 0 ? "active" : "")" id="tab_@i">
                                @using (Html.BeginForm("Delete", "Order", FormMethod.Post, null))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="table-responsive">
                                        <table id="tblData" class="table table-bordered table-middle tblData" method="post">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <input data-id="checkall" data-ref="check" type="checkbox" />
                                                    </th>
                                                    <th>Mã số</th>
                                                    <th>Họ tên khách</th>
                                                    <th>Điện thoại</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Trạng thái</th>
                                                    <th>Ngày đặt</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Order order in Model.Where(m => m.Status == i))
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="check" value="@order.Id" />
                                                        </td>
                                                        <td class="text-center">
                                                            @order.Id
                                                        </td>
                                                        <td>
                                                            <b>@Html.DisplayFor(o => order.Name)</b>
                                                        </td>
                                                        <td>
                                                            <a href="tel:@order.Phone">@order.Phone</a>
                                                        </td>
                                                        <td>
                                                            @Warehouse.Common.Format.FormatCurrencyVND((int?)order.TotalMoney)
                                                        </td>
                                                        <td>
                                                            <label class="label label-@listColor[i]">@listStatus[i]</label>
                                                        </td>
                                                        <td>
                                                            @Warehouse.Common.Format.FormatDateTime(order.DateOrder)
                                                        </td>

                                                        <td class="text-center">
                                                            <a class="btn bg-blue btn-xs" href="@Url.Action("Details", new { Id = order.Id })"><i class="fa fa-eye"></i> Xem</a>
                                                            <a class="btn btn-@listColor[i] btn-xs" data-toggle="modal" data-target="#modal-ChangeStatusModal" href="@Url.Action("_ChangeStatusModal", new { Id = order.Id })"><i class="fa fa-change"></i> Đổi trạng thái</a>

                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center">
                                                        <button type="submit" class="btn btn-default btn-xs" onclick="return confirm('Xác nhận xoá các bản ghi được chọn?')"><i class="fa fa-remove"></i> Xoá</button>
                                                    </td>
                                                    <td colspan="6"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                }
                            </div>
                            <!-- /.tab-pane -->
                            }

                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade modal-ajax" id="modal-ChangeStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
