@model Order
@{
    ViewBag.Title = ViewBag.Message = "Thay trạng thái";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section styles
{
    <style>
        .form-control2 {
            height: 30px;
            padding: 4px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
}
<div class="col-md-12 text-center">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Assigned)
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="returnUrl" value="@(Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : Url.Action("Index"))" />
        if (Model.Assigned) {
            <select class="form-control2" name="TrangThai">
                <option value="Assigned" selected="selected">Đã giao</option>
                <option value="ChuaGiao">Chưa giao</option>
            </select>
        }
        else {
            <select class="form-control2" name="TrangThai">
                <option value="Assigned">Đã giao</option>
                <option value="ChuaGiao" selected="selected">Chưa giao</option>
            </select>
        }
        @Html.LabelFor(m => m.Paid)
        if (Model.Paid) {
            <select class="form-control2" name="Paid">
                <option value="true" selected="selected">Đã thanh toán</option>
                <option value="false">Chưa thanh toán</option>
            </select>
        }
        else {
            <select class="form-control2" name="Paid">
                <option value="true">Đã thanh toán</option>
                <option value="false" selected="selected">Chưa thanh toán</option>
            </select>
        }
        <input type="submit" class="btn btn-success btn-sm" value="Thay" />
        <a href="@(Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : Url.Action("Index"))" class="btn btn-default btn-sm">Trở về</a>
    }
</div>
